<form method="post" action="{{ path('posseder_delete', {'idutiliser': encryption.encryptionValue(epi.idutiliser|trim) }) }}" onsubmit="return confirm('Voulez-vous retirer cet E.P.I ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ epi.idutiliser) }}">
    <button class="btn btn-info link-btn"><img src="{{ asset("icones/trash.svg") }}" width="50px" height="20px"  alt="Supprimer"/></button>
</form>
