{{ form_start(form) }}
    <div class="d-flex flex-wrap justify-content-center font-weight-bold">
        <div class="box-input">
            {{ form_label(form.idEquipementOperationnel) }}<br/>
            {{ form_widget(form.idEquipementOperationnel) }}
        </div>
        <div class="box-input">
            {{ form_label(form.taille) }}<br/>
            {{ form_widget(form.taille) }}
        </div>
    </div>

<div class="link-group mt-4">
    <button class="btn btn-info link-btn"><img src="{{ asset("icones/check-circle.svg") }}" width="50px" height="20px"  alt="Valider"/></button>
</div>
{{ form_end(form) }}
