{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/admin.css')}}" />  
{% endblock %}

{% block title %}Edition E.P.I{% endblock %}

{% block body %}
    {{ parent() }}

<div class="panel-transparent">
    <div id="card">
        <div class="d-flex flex-wrap justify-content-around">
            <div>
                <a class="btn btn-info link-btn"  role="button" href="{{ path('posseder_index',{'idUser': encryption.encryptionValue(epi.idpersonnel.id|trim) }) }}"><img src="{{ asset("icones/arrow-90deg-left.svg") }}" width="50px" height="20px"  alt="Retour"/></a>
            </div>
            <div>
                {{ include('posseder/_delete_form.html.twig') }}
            </div>
        </div>

        <div class="box-title"><h1>Modification E.P.I</h1></div>

        {{ include('posseder/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
</div>
{% endblock %}
