{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}"/>

{% endblock %}

{% block title %}Equipements{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="panel scrollbar">
        <a class="btn btn-info link-btn" role="button" href="{{ path('user_index') }}"><img
                    src="{{ asset("icones/arrow-90deg-left.svg") }}" width="50px" height="20px" alt=""/></a>
        {% if available_equipment == true %}
            <div class="d-flex justify-content-center">
                <a href="{{ path('posseder_new',{'idUser': idUser}) }}"><img class="btn-round-red" type="image"
                                                                             src="{{ asset("icones/plus-circle.svg") }}"
                                                                             alt="Ajout intervenant"/></a>
            </div></br>
        {% endif %}

        <div class="title-tab"><h3>E.P.I <br/> {{ user.nom }} {{ user.prenom }}</h3></div>
        <br/>
        <div class="row justify-content-center">
            {% for epi in epi_list %}
                <div class="d-flex flex-column white-box-min m-3">

                    <div class="font-weight-bold">{{ epi.idEquipementOperationnel }}</div>
                    <div> {{ epi.taille ? 'Taille: ' ~ epi.taille : "" }}</div>

                    <br/>
                    <div class="mt-auto link-group">
                        <a class="btn btn-info" role="button"
                           href="{{ path('posseder_edit', {'idutiliser': encryption.encryptionValue(epi.idutiliser|trim) }) }}"><img
                                    src="{{ asset("icones/pencil-square.svg") }}" width="50px" height="20px"
                                    alt="Modifier"/></a>
                        {{ include('posseder/_delete_form.html.twig') }}
                    </div>

                </div>
            {% else %}
                <p class="white-box-min w-50 text-center font-weight-bold">Aucun E.P.I</p>

            {% endfor %}
        </div>
    </div>
{% endblock %}
