{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/admin.css')}}" /> 
{% endblock %}

{% block title %}Attribution E.P.I{% endblock %}

{% block body %}
    {{ parent() }}

<div class="panel-transparent">
    <div id="card">

        <a class="btn btn-info link-btn"  role="button" href="{{ path('posseder_index',{'idUser': user } ) }}"><img src="{{ asset("icones/arrow-90deg-left.svg") }}" width="50px" height="20px"  alt="Retour"/></a>

        <div class="box-title"><h1>Attribution E.P.I</h1></div>
        {{ include('posseder/_form.html.twig') }}

    </div>
</div>
{% endblock %}
