{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/admin.css')}}" /> 
   
{% endblock %}

{% block title %}Posseder{% endblock %}

{% block body %}
    {{ parent() }}
    
<div id="forms" class="center" > 
    <div class="bg-white"><h1>{{posseder.id.nom}}</h1></div>

    <a class="btn btn-info"  role="button" href="{{ path('posseder_index',{'idUser': posseder.idpersonnel.id}) }}"><img src="{{ asset("icones/arrow-90deg-left.svg") }}" width="50px" height="20px"  alt=""/></a>
   
    <table class="min-tab-size center">
        <tbody>
            <tr class="margin-null">
                <th>Personne</th>
                <td data-label='Personne'>{{ posseder.idpersonnel.nom }} {{ posseder.idpersonnel.prenom }}</td>
            </tr>
            <tr class="margin-null">
                <th>N° matériel</th>
                <td data-label='N° matériel'>{{ posseder.nummateriel }}</td>
            </tr>
            <tr class="margin-null">
                <th>Taille</th>
                <td data-label='Taille'>{{ posseder.taille }}</td>
            </tr>
        </tbody>
    </table>

 {% if is_granted('ROLE_ADMIN') %}
    <div class="d-flex flex-wrap justify-content-around ">
        <div>
            <a class="btn btn-primary float-right btn-edit"  role="button" href="{{ path('posseder_edit', {'idutiliser': posseder.idutiliser}) }}"><img src="{{ asset("icones/pencil-square.svg") }}" width="50px" height="20px"  alt=""/></a>
        </div>
        <div>
            {{ include('posseder/_delete_form.html.twig') }}
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}
