<form id="documents-list" name="documents" action="{{ path('docs_new') }}" method="post">
    <div class="form-list">

        <div id="document-form_1">

                <div class="text-center error-file_1"></div>
                <div class="box-input">
                    <div class="file-input">
                        <label for="file_1"><img src="{{ asset('icones/upload.png') }}" alt="">&nbsp<span class="label_file_1">Choissisez votre document (.pdf)</span></label>
                        <input id="file_1" class="input_file" type="file" name="file-path_1" accept=".pdf">
                    </div>
                </div>
            <div class="box-input">
                <div class="error-name_1" ></div>
                <div>
                    <label for="name_1">Nom du document</label><br/>
                    <input id="name_1" type="text" name="file-name_1">
                </div>
            </div>

            <div class="box-input">
                <div class="error-folder_1" ></div>
                <div id="folder-input-div_1">
                    <label for="folder-input_1">Nouveau dossier</label>
                    <img class="folder_icon" src="{{ asset('icones/bouton_dossier.png') }}" alt=""><br/>
                    <input id="folder-input_1" type="text" name="folder-input_1">
                </div>
                <div id="folder-select-div_1" class="folder-select">
                    <label for="folder-select_1">Dossiers existants</label>
                    <img class="folder_icon" src="{{ asset('icones/bouton_dossier.png') }}" alt=""><br/>
                    <select id="folder-select_1" name="folder-select_1">
                        <option value=null>Aucun</option>
                        {% for folder in folders %}
                            <option value="{{ folder.nom }}">{{ folder.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="link-group">
                <button id="file-btn_1" type ="button" class="btn btn-info link-btn file-btn"><img src="{{ asset("icones/check-circle.svg") }}"
                                                                                     width="50px" height="20px" alt="Valider"/>
                </button>
            </div>
        </div>
    </div>
</form>