{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}"/>
{% endblock %}

{% block title %}Documents{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="panel-transparent">
        <div id="document" class="card p-5">
            {% if app.request.attributes.get('_route') =="docDossier" %}
                <div class="d-flex justify-content-start">
                    <a class="btn btn-info link-btn " role="button" href="{{ path('docs') }}"><img
                                src="{{ asset("icones/arrow-90deg-left.svg") }}" width="50px" height="20px"
                                alt="Retour"/></a>
                </div>
            {% endif %}

            <div class="box-title"><h1>Documents</h1></div>
            <div class="d-flex justify-content-center mt-2 mb-3">
                <a href="{{ path('docs_new') }}"><img class="btn-round-red" type="image"
                                                      src="{{ asset("icones/plus-circle.svg") }}"
                                                      alt="Ajout intervenant"/></a>
            </div>
            {% if dossiers or docs %}
            <div class="d-flex flex-wrap justify-content-start document-body scrollbar">

                {% if dossiers is not null and app.request.attributes.get('_route') != "docDossier" %}

                    {% for dossier in dossiers %}
                        <div class="d-flex flex-column mr-4 link">
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="mt-3 text-center">{{ include('documents/_delete_folder.html.twig') }}</div>
                            {% endif %}
                            <a href="{{ path('docDossier',{'nomdossier':dossier.nom }) }}"><img
                                        src="{{ asset("icones/folderDoc.png") }}" width="90px" height="90px"
                                        alt="dossier"/></br>{{ dossier.nom|slice(0,50) }}</a>
                        </div>
                    {% endfor %}

                {% endif %}

                {% for doc in docs %}
                    <div class="d-flex flex-column mr-3 link">
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="mt-3 text-center">{{ include('documents/_delete_doc.html.twig') }}</div>
                        {% endif %}
                        <a href="{{ path("docs_show",{id:doc.id}) }}" target="_blank">
                            <img src="{{ asset("icones/document.png") }}" width="90px" height="90px"
                                 alt="document"/> </br>{{ doc.nom|slice(0,30) }}
                        </a>
                    </div>
                {% endfor %}
                {% endif %}
                {% if not dossiers and not docs %}
                    <div class="d-flex justify-content-center">
                        <div class="flex-column text-center">
                            <img src="{{ asset("icones/empty_file.gif") }}" width="90px" height="90px" alt="Aucun documents"/><br/>
                            <h1>Il n'y a aucun document</h1>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}