
{% extends 'base.html.twig' %}

{% block title %}{{doc.nom}}{% endblock %}

{% block body %}
    {{ parent() }}
    <br>
    <a role="button" class="btn btn-primary m-3" href="{{ path('docs') }}"><img src="{{ asset("icones/arrow-90deg-left.svg") }}" width="50px" height="20px"  alt=""/></a>

    <br>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="{{ asset(doc.chemin) }}" allowfullscreen ></iframe>
</div>
  
{% endblock %}



