{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/login.css')}}" />
{% endblock %}
{% block body %}


    <div id="header">
        <div>
            <h1 id="logo">SDIS86</h1>
            <h1 id="app-name">
                MITOS@N
                <br/>
                <span>Moyen d'Information et de Traitement Opérationnelle des Secouristes Animaliers</span>
            </h1>
        </div>
    </div>

    <div id="content">
        <div id="login">

            <form id="form-login" method="post" class="p-4 form-group">
                {% if error %}
                    <div class="msg-error">{{ error }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="msg-info">
                        Vous êtes déjà connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                {% endif %}

                <h2>Authentification</h2>

                    <div class="input-form-login">

                        <label for="username">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="mb-1 bi bi-lock-fill" viewBox="0 0 16 16">
                                <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
                                <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
                            </svg>
                            Identifiant
                        </label>
                        <input id="username" type="text" value="{{ last_username }}" name="email" placeholder="Identifiant" maxlength="45" required ><br>
                    </div>
                    <div class="input-form-login">

                        <label for="password">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                            </svg>
                            Mot de passe
                        </label>
                        <input id="password" type="password" name="password" placeholder="********" required>
                    </div>
                <br/>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <input class="btn-submit" type="submit" name="submit" value="SE CONNECTER">
            </form>
        </div>
    </div>

{% endblock %}

{% block javascripts %}


{% endblock %}

 {% block footer %}
 {% endblock %}