{% extends 'base.html.twig' %}

{% block title %}
  Accueil
{% endblock %}
{% block stylesheets %}
 <link href="{{asset('css/accueil.css')}}" rel="stylesheet"/>

{% endblock %}
{% block body %}
  
  {{ parent() }}
  
  <div class="panel-transparent margin-top">
    <div class="row justify-content-around m-0">
      <div class="box">
        <a href="{{ path('cr_envoi')}}">
          <div class="boxlink">
              <h2>Fiche synthèse</h2>
              <img src="{{ asset('icones/compte_rendu.png') }}";  />
          </div>
        </a>
      </div>
     
      <div class="box">
        <a href="{{path('identification')}}">
          <div class="boxlink">
            <h2>Identification</h2>
            <img src="{{ asset('icones/recherche.png') }}";  />
          </div>
        </a>
      </div>
    </div>        
        
    <div class="row justify-content-around m-0">
      <div class="box">
        <a href="{{path("repertoire_index")}}">
          <div class="boxlink">
            <h2>Répertoire</h2>
            <img src="{{ asset('icones/carnet.png') }}";  />
          </div>
        </a>
      </div>
      <div class="box">
          <a href="{{path("docs")}}">
            <div class="boxlink">
              <h2>Documents</h2>
              <img src="{{ asset('icones/doc.png') }}";  />
            </div>
          </a>
      </div>
    </div> 

  </div>

  {% if newsNotViewList|length > 0 %}
  <div class="panel mt-3">
    <div class="news" >
      <div id="carouselContent" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active text-center p-4 news-content">
            <h1 class="mb-1">&#9888 <br/> Important</h1>
            <h2>Nouvelles actualités</h2>
          </div>
          {% for newsNotView in newsNotViewList %}
          <div class="carousel-item text-center p-4">
            <a href="{{ path('news_show', {'idnews': newsNotView.news.idnews}) }}">
              <div class="news-content">
                <h4>{{ newsNotView.news.titre }}</h4>
                <h5><span class="font-italic">Écrit par {{ newsNotView.news.auteur.prenom }} {{ newsNotView.news.auteur.nom }} le</span> {{ newsNotView.news.date ? newsNotView.news.date|date('d/m/Y') : '' }}</h5>
                <p class="text-justify">{{ newsNotView.news.contenu|slice(0,120) }}...</p>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>

        <a class="carousel-control-prev prev" href="#carouselContent" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next next" href="#carouselContent" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  {% endif %}

{% endblock %}
