<form method="post" action="{{ path('fmpa_delete', {'id': encryption.encryptionValue(fmpa.id|trim)}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette formation ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fmpa.id) }}">
    <button class="btn btn-info link-btn"><img src="{{ asset("icones/trash.svg") }}" width="50px" height="20px"  alt="Supprimer"/></button>
</form>
