{{ form_start(form) }}

<div class="d-flex flex-column justify-content-center font-weight-bold">

	<div class="d-flex flex-column box-input">
		{{ form_label(form.nom) }}
		{{ form_widget(form.nom, {'attr': {'maxlength': '45'} }) }}
	</div>

	<div class="d-flex flex-wrap justify-content-center">
		<div class="d-flex flex-column box-input ">
			{{ form_label(form.dateDebut) }}
			{{ form_widget(form.dateDebut) }}
		</div>

		<div class="d-flex flex-column box-input">
			{{ form_label(form.dateFin) }}
			{{ form_widget(form.dateFin) }}
		</div>
	</div>
</div>
<div class="link-group">
	<button class="btn btn-info link-btn"><img src="{{ asset("icones/check-circle.svg") }}" width="50px" height="20px" alt=""/></button>
</div>

{{ form_end(form) }}
