{% extends 'base.html.twig' %}

{% block title %}FMPA
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('css/admin.css')}}"/>

{% endblock %}

{% block body %}
	{{parent()}}
	<div class="container-stats">
		<div class="left-box">
			<div class="panel-pdf">
				<div class="box-pdf">
					<h4>Vos formations</h4>
					<div class="d-flex flex-column link-group">
						<div class="d-flex justify-content-center small-box-list scrollbar">
							<div class="d-flex flex-column">
								{% for fiche_individuelle_fmpa in fiches_individuelles_fmpas %}
                                    <a  class="p-2"  href="{{path('fiche_individuelle_fmpa_show',{'id': encryption.encryptionValue(fiche_individuelle_fmpa.id|trim)})}}">FMPA "{{fiche_individuelle_fmpa.fmpa}}" que vous avez réalisé du <br/>{{ fiche_individuelle_fmpa.dateDebut ? fiche_individuelle_fmpa.dateDebut|date('d/m/Y') : '' }} au {{ fiche_individuelle_fmpa.dateFin ? fiche_individuelle_fmpa.dateFin|date('d/m/Y') : '' }}</a>
								{% else %}
                                    <p class="text-center font-weight-bold pt-2">Vous n'avez pas de formation enregistrée</p>
                                {% endfor %}
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>

		<div class="right-box">
			<div class="d-flex flex-column justify-content-center pb-5">
				<div class="d-flex justify-content-center">
					<a href="{{ path('fmpa_new') }}"><img class="btn-round-red" type="image" src="{{ asset("icones/plus-circle.svg") }}" alt="Ajout fmpa"/></a>
				</div>
			</br>

			<div class="panel-tab">
				<div class="title-tab">
					<h3>Liste de toutes les FMPAs
					</h3>
				</div>
				<table>
					<thead>
						<tr>
							<th>
								Nom de la FMPA
							</th>
							<th>
								Date de début
							</th>
							<th>
								Date de fin
							</th>
							<th>
								Actions
							</th>
						</tr>
					</thead>
					<tbody class="max-height scrollbar">

						{% for fmpa in fmpas %}
							<tr class="font-weight-bold">
								<td data-label='Nom'>
									{{ fmpa.nom }}
								</td>
								<td data-label='Date de début'>
									{{ fmpa.dateDebut ? fmpa.dateDebut|date('d/m/Y') : '' }}
								</td>
								<td data-label='Date de fin'>
									{{ fmpa.dateFin ? fmpa.dateFin|date('d/m/Y') : '' }}
								</td>
								<td>
									<div class="link-group border-0">
										<a class="btn btn-info space" role="button" href="{{ path('fmpa_show', {'id': encryption.encryptionValue(fmpa.id|trim)}) }}"><img src="{{ asset("icones/zoom-in.svg") }}" width="50px" height="20px" alt="détails"/></a>
										{% if is_granted('ROLE_ADMIN') %}
											<a class="btn btn-info space" role="button" href="{{ path('fmpa_edit', {'id': encryption.encryptionValue(fmpa.id|trim)}) }}"><img src="{{ asset("icones/pencil-square.svg") }}" width="50px" height="20px" alt="supprimer"/></a>
										{% endif %}
									</div>
								</td>

							</tr>
						{% else %}
							<td>
								<p class="text-center font-weight-bold pt-2">Pas de résultats</p>
							</td>
						{% endfor %}

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>{% endblock %}
