{% extends 'base.html.twig' %}

{% block title %}Création d'une FMPA{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/admin.css')}}" />
{% endblock %}

{% block body %}
{{ parent() }}
<div class="panel-transparent">
    <div id="card">

        <a class="btn btn-info link-btn" role="button" href="{{ path('fmpa_index') }}"><img src="{{ asset("icones/arrow-90deg-left.svg") }}" width="50px" height="20px"  alt="Retour"/></a></br>

        <div class="bg-white"><h1>Création d'une FMPA</h1></div>

        {{ include('fmpa/_form.html.twig') }}

    </div>
</div>
{% endblock %}