{% extends 'base.html.twig' %}

{% block title %}FMPA
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('css/admin.css')}}"/>
{% endblock %}

{% block body %}

	{{ parent() }}
	<div class="panel-transparent">
		<div id="card">
			<a class="btn btn-info link-btn" role="button" href="{{ path('fmpa_index') }}">
				<img src="{{ asset("icones/arrow-90deg-left.svg") }}" width="50px" height="20px" alt="Retour"/></a>


			<div class="d-flex flex-column justify-content-center font-weight-bold">

				<div class="box-title">
					<h1 class="text-danger">Formation de Maintien Professionnel des Acquis</h1>
				</div>
				<div class="d-flex flex-wrap justify-content-start">
					<div>
						<p class="mt-2 ">Nom de la FMPA :
							{{ fmpa.nom}}</p>
						<p class="mt-2 ">Début de la FMPA :
							{{ fmpa.dateDebut ? fmpa.dateDebut|date('d/m/Y') : '' }}</p>
						<p class="mt-2 ">Fin de la FMPA :
							{{ fmpa.dateFin ? fmpa.dateFin|date('d/m/Y') : '' }}</p>
					</div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="right-link pl-5 mt-2 ">
                            <a href="{{ path('fiche_individuelle_fmpa_new') }}">Ajouter un personnel à cette formation</a>
                        </div>
                    {% endif %}
				</div>
				<div class="">
					<ul class="report scrollbar">
						<span>Personnels ayant réalisé cette FMPA :</span>
						{% for fiche_individuelle_fmpa in fmpa.fichesIndividuellesFmpa %}
							<li>

								{{ fiche_individuelle_fmpa.personnel.nom|upper }}
								{{ fiche_individuelle_fmpa.personnel.prenom|capitalize }}
								du
								{{ fiche_individuelle_fmpa.dateDebut ? fiche_individuelle_fmpa.dateDebut|date('d/m/Y') : ''}}
								au
								{{ fiche_individuelle_fmpa.dateFin ? fiche_individuelle_fmpa.dateFin|date('d/m/Y') : ''}}
								{% if is_granted('ROLE_ADMIN') %}
									<a class="btn btn-info link-btn" role="button" href="{{ path('fiche_individuelle_fmpa_show', {'id': encryption.encryptionValue(fiche_individuelle_fmpa.id|trim)}) }}"><img src="{{ asset("icones/zoom-in.svg") }}" width="30px" height="15px" alt="détails"/></a>
								{% endif %}
							</li>
						{% else %}
							<p class="text-center font-weight-bold pt-2">Aucun personnel n'a fait cette formation</p>
						{% endfor %}
					</ul>
				</div>

			</div>

			{% if is_granted('ROLE_ADMIN') %}
				<div class="d-flex flex-wrap justify-content-around link-group">
					<div>
						<a class="btn btn-info link-btn" role="button" href="{{ path('fmpa_edit', {'id': encryption.encryptionValue(fmpa.id|trim)}) }}">
							<img src="{{ asset("icones/pencil-square.svg") }}" width="50px" height="20px" alt=""/></a>
					</div>
					<div>
						{{ include('fmpa/_delete_form.html.twig') }}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
