.box {
    background: #85080D;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#85080D), to(#C10E16));
    background: -webkit-linear-gradient(#85080D, #C10E16);
    background: -moz-linear-gradient(#85080D, #C10E16);
    background: -ms-linear-gradient(#85080D, #C10E16);
    background: -o-linear-gradient(#85080D, #C10E16);
    background: linear-gradient(#85080D, #C10E16);
    border: 2px solid #000000;
    margin: 20px;
    box-shadow: 1px 1px 12px #555;


}

.box, .box .boxlink{
    width: 300px;
    height: 150px;
}

.box .boxlink {
    padding: 15px;
    text-align: center;
}

.box .boxlink h2 {

    color: #FFFFFF;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    border-bottom: 2px solid #FFFFFF;
}

.news {
    background-color: #FFFFFF;
    width: 50% !important;
    border: 2px solid black;
    margin: 0 auto;
    box-shadow: 1px 1px 12px #555;
}

.news, .news div {
    height: 180px !important;
}

.news .prev, .news .next {
    background: #af1824;
    height: 176px !important;
    width: 50px;
}

.news h1, .news h4 {
    font-weight: bold;
}

.news h1, .news h2, .news h4 {
    color: #af1824;
}

.news-content {
    margin: 0 auto;
    width: 80%;
    color: #000000;
    overflow-y: hidden;
    height: 150px !important;
}

.news-content p {
    border-top: 2px solid #000000;
    padding-top: 5px;
    overflow-wrap: break-word;
    overflow: hidden;
}

.news-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.news-link {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.carousel-item.active, .carousel-item-next, .carousel-item-prev {
    display: block;
}

@media screen and (max-width: 1050px) {

    .panel {
        width: 100% !important;
        border-right: 0px;
        border-left: 0px;
    }

    .news {
        width: 100% !important;
    }

    .news-content p {
        height: 50px !important;
    }

}

@media screen and (max-width: 480px) {

    .boxlink{
        width: 100% !important;
    }

    .boxlink h2{
        font-size: 25px !important;
    }

    .boxlink img{
        height: 40px;
        width: 40px;
    }

    .news h1 {
        font-size: 30px !important;
    }

    .news h2 {
        font-size: 25px !important;
    }

    .news h4 {
        font-size: 20px;
    }

    .news h5 {
        font-size: 15px;
    }

    .box {
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100% !important;
        border-right: 0px;
        border-left: 0px;
    }

    .news .prev, .news .next {
        background: #B01924;
        height: 176px !important;
        width: 25px;
    }
}