table {
    text-align: center;
    color: #000000;
    background-color: #C10E16;
    font-size: 16px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 0px #191919;
    width: 100%;
    border: 2px solid #C10E16;
    max-width: 100%;
}

th, td, h1 {

    text-align: center;
}

h1, h2, h3 {
    overflow-wrap: break-word;
}

thead tr {

    color: #FFFFFF;
    border-style: solid;
    border-width: 2px;
    border-collapse: collapse;
    border-color: #FFFFFF;
    border-left: none;
    border-right: none;

}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* even columns width , fix width of table too*/
}

tr {
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    border-color: grey;
    border-left: none;
    border-right: none;
    border-top: none;
}

td, th {

    padding: 5px;
    overflow-wrap: break-word;

}

td:first-child, th:first-child{
    width: 250px;
}

td:first-child{ text-align: start; }

.min-size-column {
    width: 200px !important;

}

tbody {
    display: block;
    text-align: center;
    border: 1px solid #C10E16;
    max-height: 225px !important;
    overflow-y: auto;

}

tbody tr:nth-child(odd) {
    background-color: #FFFFFF;
}

tbody tr:nth-child(even) {
    background-color: #adb5bd;
}

/* maj */

.box-title, .link-group {
    text-align: center;
}

.box-title {
    margin-top: 10px;
    padding: 5px !important;
    border-bottom: 2px solid #000000;
    font-weight: bold;
    overflow-wrap: break-word;
}

.link-group {
    display: flex;
    padding-top: 5px;
    border-top: 2px solid #000000;
    justify-content: center;
    width: 100%;
}

.link-group #loading{
    margin-top: 10px !important;
}

.link-group a, .filter a, .link-group button, .link-btn, .delete-document{
    background: #C10E16;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#C10E16), to(#85080D));
    background: -webkit-linear-gradient(#C10E16, #85080D);
    background: -moz-linear-gradient(#C10E16, #85080D);
    background: -ms-linear-gradient(#C10E16, #85080D);
    background: -o-linear-gradient(#C10E16, #85080D);
    background: linear-gradient(#C10E16, #85080D);
    -webkit-box-shadow: #666 0 0 5px;
    -moz-box-shadow: #666 0 0 5px;
    box-shadow: #666 0 0 5px;
    border: none !important;
    margin: 5px;
    min-width: 75px;
    border-radius: 5px;
    color: #FFFFFF;
}

.delete-document{ width: 25px !important; min-width: 0 !important; padding: 1px !important;}

#document .link a{
    width: 100px;
    text-align: justify;
    font-weight: bold;
}

.document-body{
    height: 350px !important;
    max-height: 350px !important;
    border: 1px solid black;
    overflow: scroll;
    padding: 10px;
}

.link-group a:hover, .filter a:hover, .link-group button:hover, .link-btn:hover{

    -webkit-box-shadow: #666 0 0 5px;
    -moz-box-shadow: #666 0 0 5px;
    box-shadow: #666 0 0 5px;
    border: none;
}

.link-group a:hover, .filter a:hover, thead tr, .link-group button:hover, .link-btn:hover, .btn-round-red:hover{
    background: #85080D;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#85080D), to(#C10E16));
    background: -webkit-linear-gradient(#85080D, #C10E16);
    background: -moz-linear-gradient(#85080D, #C10E16);
    background: -ms-linear-gradient(#85080D, #C10E16);
    background: -o-linear-gradient(#85080D, #C10E16);
    background: linear-gradient(#85080D, #C10E16);
}

.white-box ul, #card ul{

    list-style-type: none;
    min-height: 350px;
    max-height: 350px;
    padding: 5px !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

.white-box form ul{
    list-style-type: none;
    min-height: 0 !important;
    max-height: 0 !important;
    overflow-y: initial;
    overflow-x: initial;
    margin-bottom: 30px !important;
}


.white-box ul li, #card ul li {

    text-decoration: none;
    padding: 5px;
    border: none !important;
    overflow-wrap: break-word;

}

.white-box ul li span, #card ul li span{

   font-weight: bold;
}

.link{ display: flex; }

.white-box ul li a, .link a{

    color: rgb(255,0,0);
    margin: 0;
    padding: 0;
}

.white-box ul li a:hover, .link a:hover{ color: rgb(136,17,0); }

.white-box ul li:hover, #card ul li:hover {

    background: none !important;
}

.box-news{ max-height: 400px !important; overflow: auto; padding: 5px;}

.report{
    text-align: justify;
    border: 2px solid #000000 !important;
    padding: 10px;
}

.right-link a{
    text-decoration: none;

}

.small-box-list{
    height: 300px !important;
    overflow: scroll;
}

.right-link a:hover{

    color: #85080D;
}

.report li a{
    padding: 0;
}

.white-box,.box-pdf,.white-box-min {

    background: white;
    padding: 10px;
    box-shadow: 1px 1px 12px #555;

}

.box-pdf{ min-height: 100px;}

.white-box-min{ min-height: 150px;}

.white-box{ width: 400px; margin-bottom: 20px; overflow-wrap: break-word !important; min-height: 455px;}

.box-pdf h4,.filter h4{ font-weight: bold; text-align: center; }

.panel-tab{
    margin: 0 auto;
    border: 1px solid #FFFFFF;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 5px -1px;
    width: 1000px;
    padding: 15px;
    margin-bottom: 20px;

}

.panel-tab .box-tab{
    background: white;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 12px #555;
}

.title-tab{
    background: #FFFFFF;
    box-shadow: 1px 1px 10px #000000;
    height: auto;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}

.title-tab h3{ font-weight: bold; font-size: 25px}

.num-intervention{ color: #B01924}

.right-box, .left-box{
    display: block;
    position: absolute;
    top: 150vm;
}

.right-box{
    right: 250px !important;
}

#counter {
    background: black;
    text-shadow: 0 0 3px #FE0000, 0 0 10px #FE0000, 0 0 20px #FE0000;
    color: #FFFFFF;
    font-family: "Courier New", Courier, monospace;
    font-size: 32px;
    font-weight: bold;
    line-height: 38px;
    width: 134px;
    padding: 0px;
    border: 3px double gray;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 2px 2px 4px #888888;
    -moz-box-shadow: 2px 2px 4px #888888;
    -webkit-box-shadow: 2px 2px 4px #888888;

}


#card {
    width: 100%;
    box-shadow: 0px 0px 30px 0px #191919;
    background-color: white;
    padding: 20px;
    line-height: 200%;
    overflow-wrap: break-word;
}

#card-title { box-shadow: 0px 10px 12px -10px #191919; }

.underline { background-color: #DCDCDC; }

.cadre { border: 7px solid white; }

.textarea-report, .textarea-form,.small-textarea-form{

    outline: none !important;
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow: -1px 2px 10px 5px rgba(0, 0, 0, 0.3) inset;
    padding: 10px;
    width: 100%;
}

.textarea-form,.small-textarea-form{ height: 150px; }

.small-textarea-form{ width: 400px !important; }

.textarea-report{ height: 300px; }

.textarea-report:hover, 
.textarea-report:focus, 
.textarea-form:hover, 
.textarea-form:focus,
.small-textarea-form:hover,
.small-textarea-form:focus
{ box-shadow: -1px 2px 10px 5px rgba(255, 0, 0, 0.3) inset; border: 2px solid #a71d2a; }

.btn-round-red{

    background: #C10E16;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#C10E16), to(#85080D));
    background: -webkit-linear-gradient(#C10E16, #85080D);
    background: -moz-linear-gradient(#C10E16, #85080D);
    background: -ms-linear-gradient(#C10E16, #85080D);
    background: -o-linear-gradient(#C10E16, #85080D);
    background: linear-gradient(#C10E16, #85080D);
    outline-style:none;
    border-radius: 50px;
    color: #FFFFFF;
    border : none;
    box-shadow: 0px 0px 10px 0px #191919;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.text-format{ overflow-wrap: anywhere; text-align: justify}

.embossed-title {
    text-shadow: -1px -1px 0 #751C1C,
    1px -1px 0 #751C1C,
    -1px 1px 0 #751C1C,
    1px 1px 0 #751C1C,
    1px 1px 10px #141414;
    color: #DE3535;

}

.container-stats, .container-documents{
    display: block;
    position: relative;
    width: 100%;
}

.container-stats{
    height: 1600px !important;
}


#left-menu {

    position: relative;
    top: 10px;
    left: 0;
    width: 200px;
    min-height: 100%;
    overflow: hidden;
}

#left-menu ul{
    list-style: none;
    background-color: #FFFFFF;
    border: 0;
    padding: 0;
    margin: 0;

}

#left-menu ul li, .box-pdf ul li{
    list-style: none;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    height: 75px;
    padding-top: 24px;
    margin: 0;
    text-align: center;
    font-weight: bold;
    cursor: pointer;

}
#left-menu ul li:first-child{ border-top: 2px solid #000000}

#left-menu ul li:first-child, #left-menu ul li:last-child{ height: 10px; background-color: #cbd3da; cursor: initial}
#left-menu ul li:first-child:hover, #left-menu ul li:last-child:hover{ background-color: #cbd3da;}

.active-fst, .active-lst, .active,#left-menu ul li:hover, .box-pdf ul li:hover{color: #a71d2a;}
.active-fst{ box-shadow: 0px 10px 20px 0px; }
.active-lst{ box-shadow: 0px -10px 20px 0px; }
.active{ box-shadow: 0px 0px 20px 7px; }

.panel-filter form ul{ background: #f1b0b7; padding: initial;}
.panel-filter form ul li{
    font-size: 12px;
    font-weight: bold;
    color: #a71d2a;
    text-align: center;
    border: 1px solid #000000;
    background-color: #f1b3b7;
    padding: 2px;
    width: 100%;
    list-style: none;
}

.box-pdf ul{padding-left: 0;}
.box-pdf ul li{border-right: 0; padding: 10px;}
.box-pdf ul li:last-child{border: 0;}

#left-menu ul li:hover, .panel-filter form ul li, .box-pdf ul li:hover{
    background: initial;
}

.config_panel{
    display: block;
    position: absolute;
    width: 80%;
    min-height: 700px;
    top: 500px;
    right: 100px;
    z-index: 2;
    margin-bottom: 50px;
}

.config_panel .panel-filter{width: auto;height: auto; padding: 10px; margin-top: 70px;}

.config_panel table{
    width: 700px !important;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 10px;

}
.config_panel table, .config_panel table tbody{height: auto !important;min-height: auto !important; max-height: 600px !important; font-weight: bold;overflow-x: hidden; }

.config_panel form{
    border: 1px solid #000000;
    background-color: #FFFFFF;
    font-weight: bold;
    padding: 5px;
    width: 300px !important;
    margin: 0 auto;
    text-align: center;
    box-shadow: 1px 1px 12px #555;

}

.config_panel td form{
    border: none;
    background-color: transparent;
    font-weight: initial;
    padding: 0;
    width: 85px !important;
    margin: 0;
    text-align: initial;
    box-shadow: none;

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    max-width: 60%;
    max-height: 80%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* The Close Button */
#close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 1700px){
    .right-box{ right: 80px !important;}
}
@media only screen and (max-width: 1600px) {
    .config_panel{width: 60%;}
}

@media only screen and (max-width: 1540px) {

    .right-box, .left-box{
        display: flex;
        position: initial;
        align-items: center;
        justify-content: center;

    }

    .container-stats{
        display: initial;
        position: initial;
    }

}

@media only screen and (max-width: 1200px) {
    .config_panel{
        min-width: 800px;
        padding-right: 10px;
        right: 0;
    }
}
@media only screen and (max-width: 1050px) {

    .panel-tab{ width: 100%}

    .config_panel{
        top:500px;
    }
    #card {
        width: 100%;
        border-radius: 0px;
    }


}

@media screen and (max-width: 900px){

    .white-box {
        margin: 0 auto;
        margin-bottom: 20px;
        width: 100%;

    }

    .panel{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .left-box{
        flex-direction: column;
    }
}

@media only screen and (max-width: 800px) {
    table {

        margin-bottom: 50px;
        width: 100%;
        background: #a71d2a;
        max-width: 100%;
    }

    table thead {
        display: none;
        width: 100%;
        max-width: 100%;
    }

    thead, table, tbody tr {
        display: block;

    }

    table th {
        display: none;
        width: 100%;
        max-width: 100%;
    }

    table tr {
        display: block;
        margin-bottom: 40px;
        border-width: 3px;
        border-color: #a71d2a;
        max-width: 100%;


    }

    table td {
        display: block;
        text-align: right;
        border-style: solid;
        border-width: 1px;
        border-collapse: collapse;
        border-left: none;
        border-right: none;
        min-height: 70px;
        overflow-y: auto;
        max-width: 100%;

    }

    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        color: #000000;
        margin-right: 20px;
        max-width: 100%;


    }


    tbody td:nth-child(odd) {
        background-color: #FFFFFF;
    }

    tbody td:nth-child(even) {
        background-color: #adb5bd;
    }

    td:first-child, th:first-child{
        width: 100%;
    }

    td:first-child{ text-align: right; }

    .modal-content {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }
}
@media (max-width: 480px) {

    #card{ line-height: 200%; font-size: 14px;}

    .white-box ul li span{ font-size: 16px }

    .link{ display: flex; flex-direction: column; align-items: flex-start; }

    .link a, .white-box ul li{ font-size: 14px; }

    .embossed-title {
        font-size: 20px !important;

    }

}