/* chrome / IE */
html {
    position: relative;
    min-height: 100%;
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.scrollbar::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
.scrollbar::-webkit-scrollbar-thumb {
    background: #af1824;
    border: 31px none #ffffff;
    border-radius: 5px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: darkred;
}
.scrollbar::-webkit-scrollbar-thumb:active {
    background: darkred;
}
.scrollbar::-webkit-scrollbar-track {
    background: #FFFFFF;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
.scrollbar::-webkit-scrollbar-track:hover {
    background: #f2f2f2;
}
.scrollbar::-webkit-scrollbar-track:active {
    background: #f5f5f5;
}
.scrollbar::-webkit-scrollbar-corner {
    background: transparent;
}

/* firefox*/
.scrollbar {
    scrollbar-color : #af1824 #FFFFFF;
    scrollbar-width: thin;
}

body {

    min-height:100vh;
  	display:flex;
  	flex-direction:column;
    background-color: #FFFFFF;
    font-family: Arial,sans-serif;
   
    

}

#main{
    min-height:100%;
   position:relative;
   padding-bottom: 50px; 
}

#footer{
    margin-top: 200px;
    position:absolute;
    bottom:0;  /* on le colle en bas */
    width:100%;

}

#map{
    display:block;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 200px; 
    height: 600px;
    width: 1300px;
    border: #000000 solid 3px;
}

footer{
 
    margin-top:auto;
    min-height:50px;   /* Hauteur du pied de page */
    background-color: #000000;
    border-top: 2px solid #a71d2a;
    color: #FFFFFF;

}

footer p{
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

#carousel{
    position: absolute;
    top: 100px;
    z-index: -1;
    width: 100%;
}

#slide1,#slide2,#slide3{
    position: relative;
    max-height: 800px;

}

.panel-transparent, .panel-filter, .panel-pdf, .panel, .panel-staff, .config_panel, .panel-left{
    border: 1px solid #FFFFFF;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 5px -1px;
    padding: 10px;
}

.panel-staff{ width: auto; margin: 5px; padding: 5px;}

.panel-transparent,.panel{
    margin: 0 auto;
    width: 1000px;
    margin-bottom: 30px;
}

.panel {
    margin-top: 30px;
    padding: 20px;
    max-height: 600px !important;
    overflow-y: auto;
    overflow-x: hidden;

}

.panel-filter, .panel-pdf, .panel-left{
    margin-left: 10px;
    margin-bottom: 20px;
    width: 400px;
}

.panel-left{
    min-height: 100px;
}

.filter{
    background: #FFFFFF;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    box-shadow: 1px 1px 12px #555;
}

.box-input{
    text-align: center;
    margin: 20px !important;
    font-weight: bold;
    padding: 0px;
}

.box-input label{
    padding: 0px !important;
    margin: 0px !important;
    color: #a71d2a;
}

select[name='filter'],.box-input input,.box-input select{
    width: 200px !important;
    height: 44px !important;
    padding: 5px !important;
    margin: 0 auto !important;
    border: 0px !important;
    border-bottom: 2px solid #000000 !important;
    background: transparent !important;
    outline: none !important;
    border-radius: 0px !important;
    box-shadow: initial !important;
    font-weight: bold !important;
    color: #000000 !important;

}

.form-file input{
    width: 400px !important;
}

.filter select[name='filter']:hover, .filter select[name='filter']:focus, .box-input input:hover, .box-input input:focus, .box-input select:hover, .box-input select:focus{ outline: none !important;border-color: #B2161E !important; }

.img-identification{

    background: #FFFFFF;
    width: 50% !important;
    height: 200px !important;
    text-align: center;
    margin: 0 auto;
    box-shadow: 1px 1px 12px #555;

}

.img-identification:hover{

    border: 2px solid #B2161E;
    box-shadow: inset 0px 0px 15px #B2161E !important;

}

.img-identification a img{

    width: 100% !important;
    height: 200px !important;

}

.img-identification:nth-child(2) a img{ padding: 20px !important; }

.img-identification:last-child a img{ padding: 10px;}

.folder_icon, .add-document, .add-photo{
    border: 2px solid rgb(250,49,74);
    border-radius: 100%;
    padding: 3px;
    margin-left: 5px;
    cursor: pointer;
    box-shadow: 0 0 4px 0 #000000;
    -moz-box-shadow: 0 0 4px 0 #000000;
    -webkit-box-shadow: 0 0 4px 0 #000000;
}

.folder_icon:hover, .add-document:hover, .add-photo:hover, .child-error, .todoVerification{
    box-shadow: inset 0 0 10px 0 #FA314A;
    -moz-box-shadow: inset 0 0 10px 0 #FA314A;
    -webkit-box-shadow: inset 0 0 10px 0 #FA314A;
}


.file-input {
    font-size: 18px !important;
    font-weight: bold !important;
    color: white !important;
    overflow-wrap: break-word;
    width: 80%;
    min-height: 50px;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: #C10E16;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#C10E16), to(#85080D));
    background: -webkit-linear-gradient(#C10E16, #85080D);
    background: -moz-linear-gradient(#C10E16, #85080D);
    background: -ms-linear-gradient(#C10E16, #85080D);
    background: -o-linear-gradient(#C10E16, #85080D);
    background: linear-gradient(#C10E16, #85080D);
    display: inline-block !important;
}
.file-input label{cursor: pointer !important; color: #FFFFFF !important;width: 100%}
.file-input input{width: 100% !important; opacity: 0; padding: 0 !important; }
.file-input:hover{
    background: #85080D;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#85080D), to(#C10E16));
    background: -webkit-linear-gradient(#85080D, #C10E16);
    background: -moz-linear-gradient(#85080D, #C10E16);
    background: -ms-linear-gradient(#85080D, #C10E16);
    background: -o-linear-gradient(#85080D, #C10E16);
    background: linear-gradient(#85080D, #C10E16);
    cursor: pointer !important;
}

input[type = checkbox]{

    cursor: pointer;
    width: 20px !important;
    height: 20px !important;

}

.check-group{

    box-shadow: 0 0 10px 0 #000000;
    -moz-box-shadow: 0 0 10px 0 #000000;
    -webkit-box-shadow: 0 0 10px 0 #000000;

}

form .box-input ul{
    padding: 0 !important;
    height: initial !important;
    min-height: 0 !important;
    max-height: none !important;
    overflow-y: auto !important;
}

.error, .white-box form ul li, .box-input ul li{
    background-color: #f1b0b7;
    color: #a71d2a;
    border: 1px solid #a71d2a !important;
    padding: 2px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 10px;
   
}

#loading,#form-equipement,#group-form,.folder-select{ display: none;}

.arrow-inverse{
    -webkit-transform:rotate(180deg); /*Safari 3.1+/Chrome*/
    -o-transform:rotate(180deg);  /*Opera 10.5+*/
    -moz-transform: rotate(180deg); /*Firefox 3.5+*/
}

@media screen and (max-width: 1050px){

    .panel,.panel-transparent {
        width: 100% !important;
        border-right: 0px;
        border-left: 0px;
        margin-top: 80px;
    }

}

@media screen and (max-width: 900px){

    .margin-top{
        margin-top: 100px !important;
    }


    .img-identification{
        width: 100% !important;
    }

    .img-identification a img{  width: 70% !important; }


}

@media only screen and (max-width: 710px)
{
    #carousel{
        top: 250px;
    }
}
@media only screen and (max-width: 480px) {

    body {

        margin-bottom: 150px !important;
    }

    .panel-filter, .panel-pdf, .panel, .panel-transparent{
        width: 100%;
        margin-left: 0px;
        border-left: 0px;
        border-right: 0px;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    h1{font-size: 30px;}
    h2{font-size: 25px;}
    h3{font-size: 20px;}
    h4{font-size: 15px;}

    .img-identification a img{  width: 100% !important; }

    .img-identification:last-child a img{ height: 150px !important; }

}