nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul li a {
    padding: 1em;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;

}

li {
    border-right: 1px solid rgba(0, 0, 0, .6);
    box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.5);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #85080D;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#85080D), to(#C10E16));
    background: -webkit-linear-gradient(#85080D, #C10E16);
    background: -moz-linear-gradient(#85080D, #C10E16);
    background: -ms-linear-gradient(#85080D, #C10E16);
    background: -o-linear-gradient(#85080D, #C10E16);
    background: linear-gradient(#85080D, #C10E16);
    width: 100%;
    margin-top: 55px;
    box-shadow: 0px 0px 100px 0px black;
}

a:hover {
    text-decoration: none;
    color: white;
}

li:hover {
    background: linear-gradient(grey, black);
}

.exit:hover {
    background: linear-gradient(white, grey);
    cursor: pointer
}

#logo {
    position: absolute;
    left: 10%;
    width: 230px;
    top: 0;
}

#logo img:last-child {
    display: none;
}

#app-name{
    position: absolute;
    left: 50%;
    padding: 2px !important;
    margin-top: 5px;
    border: 2px solid #a71d2a;
    border-radius: 5px;
}

.nav-bar {

    position: relative;
    z-index: 0;
    top: 0;
    left: 0;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    min-height: 120px;
    margin-bottom: 100px !important;
    background: linear-gradient(to top, #000, #333);;

}

.m-dynamic {
    display: none;
}

.logout {
    background-color: #af1824;
}

#icone_rouage {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    border: 2px solid #a71d2a;
    border-radius: 2px;
    padding: 2px;

}

#icone_rouage:hover {
    cursor: pointer;
    box-shadow: -1px 2px 5px 5px rgba(255, 0, 0, 0.3) inset;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    border-top: 2px solid #a71d2a;
    color: #FFFFFF;

}

footer p{
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

@media screen and (max-width: 1700px) {

    nav {
        justify-content: flex-end;
    }

}

@media screen and (max-width: 1400px) {

    nav {
        justify-content: center;
        margin-top: 10px
    }

    .nav-bar {
        min-height: 120px;
    }

    #logo { position: relative;

    }

    #logo img:first-child {
        display: none;
    }

    #logo img:last-child {
        display: block;
        margin-top: 5px;
    }

    #app-name{  margin-top: 50px !important;}
}


@media screen and (max-width: 1050px) {

    nav ul {
        margin: 0px;
        padding: 0px;
        width: 100%;
        list-style: none;
        display: flex; /*1*/
        flex-direction: column; /*2*/
        justify-content: center; /*3*/


    }

    li {
        border-right: none;
        box-shadow: none;
        border-bottom: 2px solid rgba(0, 0, 0, .6);
        width: 100%;


    }

    ul li a {
        font-size: 16px;
    }

    .small-li, .exit {
        width: 100%;
    }

    .nav-bar {
        width: 100%;
        border-right: none;
        border-left: none;
        border-bottom: none;
    }

    #logo, #app-name {
        width: 230px;
        margin: 0 auto;
        left: 0;

    }

    #logo{ margin-top: 10px;}

    #app-name{ position: relative; text-align: center; }

    .m-dynamic {

        display: block;
        text-align: right;
        padding-right: 20px;


    }

    nav ul ul {
        display: none;
    }

    nav ul:hover ul {
        display: block;
    }


}
    
