#header{
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#header #logo{
    width: auto;
    height: 123px;
    margin: 0;
    color: transparent;
    background: #000 url('../img/logo.png') no-repeat 0 8px;
    background-image: url('../img/logo_login.png'); /* fallback */
    background-image: url('../img/logo_login.png'), -webkit-gradient(linear, left top, left bottom, from(#000), to(#333)); /* Saf4+, Chrome */
    background-image: url('../img/logo_login.png'), -webkit-linear-gradient(top, #000, #333); /* Chrome 10+, Saf5.1+ */
    background-image: url('../img/logo_login.png'), -moz-linear-gradient(top, #000, #333); /* FF3.6+ */
    background-image: url('../img/logo_login.png'), -ms-linear-gradient(top, #000, #333); /* IE10 */
    background-image: url('../img/logo_login.png'), -o-linear-gradient(top, #000, #333); /* Opera 11.10+ */
    background-image: url('../img/logo_login.png'), linear-gradient(to bottom, #000, #333); /* W3C */

}

#header #app-name {
    margin: 0;
    background-color: #B2161E;
    font-size: 24px;
    padding: 25px 87px 29px;
    -webkit-box-shadow: #666 0 2px 3px;
    -moz-box-shadow: #666 0 2px 3px;
    box-shadow: #666 0 2px 3px;
    color: #FFFFFF;
}

h1{
    font-weight: bold;
    font-size: 24px;
}

h1 span{
    font-weight: initial;
    font-size: 16px;

}

body {
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 1;
    background: #CCC url('../img/fond_login.jpg') repeat;
    background-color: rgb(165,165,165);

}

#content{
    padding-top: 35px;
    padding-left: 50px;
}

#content #login{
    background: #FFFFFF;
    width: 320px;
    box-shadow: 1px 1px 10px 1px #191919;

}

#content #login h2{
    text-align: center;
    padding-bottom: 15px !important;
    border-bottom: 1px solid #adb5bd;
}

#content #login #form-login{
    text-align: center;
    padding: 10px;
}

#content #login #form-login .input-form-login{
    margin-bottom: 10px;

}

#content #login #form-login label{
    display: block;
    margin-bottom: 8px !important;
    padding: 0;
}

#content #login #form-login input[type=text], #content #login #form-login input[type=password]{
    border: none;
    border-bottom: 2px solid #000000;
    background: #FFFFFF;
}

#content #login #form-login input[type=text]:focus , #content #login #form-login input[type=password]:focus{

    outline: 0;
    border-bottom: 3px solid #B01924;
}

#content #login #form-login input[type=submit]{
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    border: 0;
    padding: 11px 22px;
    font-weight: bold;
    background: #85080D;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#85080D), to(#C10E16));
    background: -webkit-linear-gradient(#85080D, #C10E16);
    background: -moz-linear-gradient(#85080D, #C10E16);
    background: -ms-linear-gradient(#85080D, #C10E16);
    background: -o-linear-gradient(#85080D, #C10E16);
    background: linear-gradient(#85080D, #C10E16);
    -webkit-box-shadow: #666 0 0 5px;
    -moz-box-shadow: #666 0 0 5px;
    box-shadow: #666 0 0 5px;
}

#content #login #form-login input[type=submit]:hover{
    background: #C10E16;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#C10E16), to(#85080D));
    background: -webkit-linear-gradient(#C10E16, #85080D);
    background: -moz-linear-gradient(#C10E16, #85080D);
    background: -ms-linear-gradient(#C10E16, #85080D);
    background: -o-linear-gradient(#C10E16, #85080D);
    background: linear-gradient(#C10E16, #85080D);

    cursor: pointer;
}

#content #login #form-login .msg-error{ background: #FFEEDD; border: 1px solid #C10E16; color: #C10E16; padding: 5px !important;}
#content #login #form-login .msg-info{ background: #ADFF2F; border: 1px solid #32CD32; color: 	#006400; padding: 5px;}

@media only screen and (max-width: 799px) {

    #header #logo{
        width: auto;
        height: 123px;
        margin: 0;
        background: #000 url('../img/logo_responsive.png') no-repeat 0 8px;
        background-image: url('../img/logo_responsive.png'); /* fallback */
        background-image: url('../img/logo_responsive.png'), -webkit-gradient(linear, left top, left bottom, from(#000), to(#333)); /* Saf4+, Chrome */
        background-image: url('../img/logo_responsive.png'), -webkit-linear-gradient(top, #000, #333); /* Chrome 10+, Saf5.1+ */
        background-image: url('../img/logo_responsive.png'), -moz-linear-gradient(top, #000, #333); /* FF3.6+ */
        background-image: url('../img/logo_responsive.png'), -ms-linear-gradient(top, #000, #333); /* IE10 */
        background-image: url('../img/logo_responsive.png'), -o-linear-gradient(top, #000, #333); /* Opera 11.10+ */
        background-image: url('../img/logo_responsive.png'), linear-gradient(to bottom, #000, #333); /* W3C */
    }

    #header #app-name {
        background-color: #B2161E;
        font-size: 24px;
        padding: 25px 20px 29px;
        -webkit-box-shadow: #666 0 2px 3px;
        -moz-box-shadow: #666 0 2px 3px;
        box-shadow: #666 0 2px 3px;
        color: #FFFFFF;
    }

}

@media only screen and (max-width: 480px){

    #content #login{
        width: 100%;
    }

    #content{ padding-left: 0}
}