form li, form li:hover{
    background: none;
    list-style: none;
    background-color: #f1b0b7;
    color: #a71d2a;
    border: 1px solid #a71d2a;
    padding: 2px;
    text-align: center;
    font-weight: normal;
}

.form-control{
    display: inline-block;
}

#searchIcon{
    border: 2px solid #FFFFFF;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

#searchIcon:hover{
    cursor: pointer;
}

#inputRechercher{
    width: 80%;
}

.btn {
    color: white;
    background: #C10E16;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#C10E16), to(#85080D));
    background: -webkit-linear-gradient(#C10E16, #85080D);
    background: -moz-linear-gradient(#C10E16, #85080D);
    background: -ms-linear-gradient(#C10E16, #85080D);
    background: -o-linear-gradient(#C10E16, #85080D);
    background: linear-gradient(#C10E16, #85080D);
    width: 70%;
    box-shadow: 3px 3px 3px #191919;
    border: 1px solid #000000;
}

.btn:hover{
    background: #85080D;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#85080D), to(#C10E16));
    background: -webkit-linear-gradient(#85080D, #C10E16);
    background: -moz-linear-gradient(#85080D, #C10E16);
    background: -ms-linear-gradient(#85080D, #C10E16);
    background: -o-linear-gradient(#85080D, #C10E16);
    background: linear-gradient(#85080D, #C10E16);
    border: 1px solid #000000;

}

a:hover{text-decoration: none !important;}

button{color: white !important;}

table{ border: 2px solid #B2161E;}

thead{
    background: #C10E16;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#C10E16), to(#85080D));
    background: -webkit-linear-gradient(#C10E16, #85080D);
    background: -moz-linear-gradient(#C10E16, #85080D);
    background: -ms-linear-gradient(#C10E16, #85080D);
    background: -o-linear-gradient(#C10E16, #85080D);
    background: linear-gradient(#C10E16, #85080D);;
    color:white;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* even columns width , fix width of table too*/
}

.box-stock{
    background: #FFFFFF;
    padding: 15px;
    box-shadow: 1px 1px 12px #555;
}

.box-stock label{
    text-align: center;
}
tr {
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    border-color: grey;
    border-left: none;
    border-right: none;
    border-top: none;
}

td, th {

    padding: 5px;
    overflow-wrap: break-word;

}

tbody{
    display: block;
    text-align: center;
    max-height: 550px;
    overflow-y: auto;
}

.panel-stock{
    margin: 0 auto;
    width: 1200px !important;
    text-align: center;
}

.choice-menu,.panel-stock{
    border: 1px solid #FFFFFF;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 5px -1px;
    padding: 10px;
}

.choice-menu{ margin: 0 auto; margin-bottom: 10px; width: 400px;}

.choice-menu div{
    background-color: #FFFFFF;
    box-shadow: 1px 1px 12px #555;
    padding: 2px;
}

.choice-menu div img, .choice-menu div span {cursor: pointer;}

.mainbox{
    width: 75%;
    margin: 0 auto;
    padding: 2%;
    color: black;
}

.container-fluid{
    margin-top: 5%;
    padding: 0 0;
}

.bordure{
    border: solid 2px #191919;

}

.stock, .conso{
    width: 50%;
}

.equipement:hover{
    cursor: pointer;
    box-shadow: inset 0 0 10px 0 #FA314A;
    -moz-box-shadow: inset 0 0 10px 0 #FA314A;
    -webkit-box-shadow: inset 0 0 10px 0 #FA314A;
}

#qr-canvas{
    margin: auto !important;
    width: calc(100% - 20px) !important;
    max-width: 400px !important;
}

@media screen and (max-width: 1300px){

    table{
        width: 100% !important;
    }
    .stock, .conso{
        width: 100%;
        padding: 2%;
    }

    .panel-stock{
        padding-left: 0;
        padding-right: 0;
        width: 100% !important;
    }
}

@media screen and (max-width: 900px){
    .centresNom{
        display: block !important;
        width: 100% !important;
        margin: 1% auto;
        text-align: center !important;
    }

    .centreEmail{
        width: 55% !important;
    }

    .mainbox{
        width: 100%;
    }

    .container-fluid{
        margin-top: 0;
    }

    .btn{
        width: 70%;
    }
}

@media screen and (max-width: 620px){
    th{
        font-size: 12px;
    }
    .nomMat{
        font-size: 12px;
    }

    .btn span{
        display: none;
    }

    .btn{
        width: 100%;
    }

    .colRecherche{
        width: 25% !important;
    }

    .colconso{
        width: 30% !important;
    }

    .divInputConso, #inputStock, #inputMat{
        display: block;
        width: 50% !important;
        margin: 1% auto;
    }
}

@media screen and (max-width: 450px){

    .choice-menu{width: 100%; border-right: none; border-left: none;}

    .choice-menu div img{ width: 30px; height: 30px}

    .centreEmail{
        width: 100% !important;
    }
}