tbody{
  max-height: 500px;
}


.scrolltable{
  max-height: 550px;
  overflow: auto;
}

.btn{
  color: white;
  background-color: #B01924;
  box-shadow: 3px 3px 3px #191919;
  width: 20%;
}

.bordure{
  border: solid 2px #191919;
}

.form-control{
  width: 33% !important;
  margin: 0 auto;
}

.container-fluid{
  margin-top: 5%;
  padding: 0 0;
  height: 100vh;
}

.mainbox{
  min-height: 90%;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 5%;
}

.boxCommander{
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 910px){
    button span{
      display: none;
    }
}

@media screen and (max-width: 730px){
  .form-control{
    display: block;
  }

  .form-group{
    text-align: center;
  }

  .container-fluid{
    margin-top: 0;
    height: 100vh;
  }

  .mainbox{
    width: 100%;
    min-height: 100%;
  }
}

@media screen and (max-width: 480px){
  table{
    width: 100%;
  }

  .form-control{
    width: 80% !important;
    margin-bottom: 1%;
  }

  button{
    width: 25% !important;
  }

}