<form method="post" action="{{ path('fiche_individuelle_fmpa_delete', {'id': encryption.encryptionValue(fiche_individuelle_fmpa.id|trim)}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette fiche individuelle ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fiche_individuelle_fmpa.id) }}">
    <button class="btn btn-info link-btn"><img src="{{ asset("icones/trash.svg") }}" width="50px" height="20px"  alt="Supprimer"/></button>
</form>
