{{ form_start(form) }}

<div class="d-flex flex-column justify-content-center font-weight-bold">

<div class="d-flex flex-column box-input ">
			{{ form_widget(form.personnel) }}
		</div>
	<div class="d-flex flex-wrap justify-content-center">
		<div class="d-flex flex-column box-input ">
			{{ form_widget(form.fmpa) }}
		</div>

		<div class="d-flex flex-column box-input">
			{{ form_widget(form.statut) }}
		</div>
	</div>
	<div class="d-flex flex-wrap justify-content-center">
		<div class="d-flex flex-column box-input ">
			{{ form_label(form.dateDebut) }}
			{{ form_widget(form.dateDebut) }}
		</div>

		<div class="d-flex flex-column box-input">
			{{ form_label(form.dateFin) }}
			{{ form_widget(form.dateFin) }}
		</div>
	</div>
	<div class="d-flex flex-wrap justify-content-center">
		<div class="d-flex flex-column box-input ">
			{{ form_label(form.nbHeures) }}
			{{ form_widget(form.nbHeures) }}
		</div>

		<div class="d-flex flex-column box-input">
			{{ form_label(form.sujet) }}
			{{ form_widget(form.sujet) }}
		</div>
	</div>
	<div class="d-flex flex-wrap justify-content-center">
		<div class="d-flex flex-column box-input ">
			{{ form_label(form.lieux) }}
			{{ form_widget(form.lieux) }}
		</div>

		<div class="d-flex flex-column box-input">
			{{ form_label(form.tempsImmersion) }}
			{{ form_widget(form.tempsImmersion) }}
		</div>
	</div>
</div>
<div class="link-group">
	<button class="btn btn-info link-btn"><img src="{{ asset("icones/check-circle.svg") }}" width="50px" height="20px" alt=""/></button>
</div>

{{ form_end(form) }}
