{% extends 'base.html.twig' %}

{% block title %}Modification d'une fiche individuelle
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('css/admin.css')}}"/>
{% endblock %}

{% block body %}
	{{ parent() }}
	<div class="panel-transparent">
		<div id="card">

			<a class="btn btn-info link-btn" role="button" href="{{ path('fmpa_index') }}"><img src="{{ asset("icones/arrow-90deg-left.svg") }}" width="50px" height="20px" alt="Retour"/></a>
		</br>

		<div class="box-title">
			<h1>Modification de la fiche individuelle de 
				<span class="h3 embossed-title text-justify">{{ fiche_individuelle_fmpa.personnel.nom|upper }}
					{{ fiche_individuelle_fmpa.personnel.prenom|capitalize }}</span>
			</h1>
		</div>

		{{ include('fiche_individuelle_fmpa/_form.html.twig') }}

	</div>
</div>{% endblock %}
