{% extends 'base.html.twig' %}

{% block title %}FMPA index
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('css/admin.css')}}"/>

{% endblock %}

{% block body %}
	{{parent()}}

	<div class="panel scrollbar">
		<div class="d-flex justify-content-center">
			<a href="{{ path('fiche_individuelle_fmpa_new') }}"><img class="btn-round-red" type="image" src="{{ asset("icones/plus-circle.svg") }}" alt="Ajout intervenant"/></a>
		</div>
	</br>

	<div class="row justify-content-around">
		{% for fiche_individuelle_fmpa in fiches_individuelles_fmpas %}
			<div class="white-box">
				<div class="box-title">{{ fiche_individuelle_fmpa.personnel.nom|upper }}
					{{ fiche_individuelle_fmpa.personnel.prenom|capitalize }}</div>
				<ul class="scrollbar">
					<li>
						<span>Statut de la formation :</span>
						{{ fiche_individuelle_fmpa.statut}}
                    </li>
					<li>
						<span>Date de début :</span>
						{{ fiche_individuelle_fmpa.dateDebut ? fiche_individuelle_fmpa.dateDebut|date('d/m/Y') : '' }}
                    </li>
					<li>
						<span>Date de fin :</span>
						{{ fiche_individuelle_fmpa.dateFin ? fiche_individuelle_fmpa.dateFin|date('d/m/Y') : '' }}
                    </li>
					<li>
						<span>Nombre d'heures :</span>
						{{ fiche_individuelle_fmpa.nbHeures}}</li>
					<li>
						<span>Sujet :</span>
                        {{ fiche_individuelle_fmpa.sujet}}</li>
					</li>
					<li>
						<span>lieux:</span>
						{{ fiche_individuelle_fmpa.lieux }}<
                    </li>
					<li>
						<span>Temps d'immersion :</span>
						{{ fiche_individuelle_fmpa.tempsImmersion ? fiche_individuelle_fmpa.tempsImmersion|date('H:i:s') : '' }}
                    </li>
				</ul>
				<div class="link-group">
					<a class="btn btn-info" role="button" href="{{ path('fiche_individuelle_fmpa_show', {'id': encryption.encryptionValue(fiche_individuelle_fmpa.id|trim)}) }}"><img src="{{ asset("icones/zoom-in.svg") }}" width="50px" height="20px" alt="Voir"/></a>
					<a class="btn btn-info" role="button" href="{{ path('fiche_individuelle_fmpa_edit', {'id': encryption.encryptionValue(fiche_individuelle_fmpa.id|trim)}) }}"><img src="{{ asset("icones/pencil-square.svg") }}" width="50px" height="20px" alt="Modifier"/></a>
				</div>
			</div>
		{% else %}
			<p class="white-box text-center font-weight-bold">Pas de résultats</p>
		{% endfor %}
	</div>
</div>{% endblock %}
