{% extends 'base.html.twig' %}

{% block title %}FMPA{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/admin.css')}}" />
{% endblock %}

{% block body %}

    {{ parent() }}
    <div class="panel-transparent">
    <div id="card" >
        <a class="btn btn-info link-btn" role="button" href="{{ path('fmpa_index') }}" >  <img src="{{ asset("icones/arrow-90deg-left.svg") }}" width="50px" height="20px"  alt="Retour"/></a>


        <div class="d-flex flex-column justify-content-center font-weight-bold">

            <div class="box-title" >
                <h1 class="text-danger">Formation de Maintien Professionnel des Acquis</h1>
            </div>

            <div class="box-tittle" >
                <p class="mt-2 report">Personnel : {{ fiche_individuelle_fmpa.personnel.nom}} {{ fiche_individuelle_fmpa.personnel.prenom}}</p>
                <p class="mt-2 report">Statut du personnel : {{ fiche_individuelle_fmpa.statut}}</p>
                <p class="mt-2 report">Début de la FMPA : {{ fiche_individuelle_fmpa.dateDebut ? fiche_individuelle_fmpa.dateDebut|date('d/m/Y') : '' }}</p>
                <p class="mt-2 report">Fin de la FMPA : {{ fiche_individuelle_fmpa.dateFin ? fiche_individuelle_fmpa.dateFin|date('d/m/Y') : '' }}</p>
                <p class="mt-2 report">Nombre d'heures en formation : {{ fiche_individuelle_fmpa.nbHeures}}</p>
                <p class="mt-2 report">Sujet : {{ fiche_individuelle_fmpa.sujet}}</p>
                <p class="mt-2 report">Lieux : {{ fiche_individuelle_fmpa.lieux}}</p>
                <p class="mt-2 report">Temps immersion : {{ fiche_individuelle_fmpa.tempsImmersion ? fiche_individuelle_fmpa.tempsImmersion|date('H:i:s') : '' }}</p>
            </div>

        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="d-flex flex-wrap justify-content-around link-group">
                <div>
                    <a class="btn btn-info link-btn"  role="button" href="{{ path('fiche_individuelle_fmpa_edit', {'id': encryption.encryptionValue(fiche_individuelle_fmpa.id|trim)}) }}"> <img src="{{ asset("icones/pencil-square.svg") }}" width="50px" height="20px"  alt=""/></a>
                </div>
                <div>
                    {{ include('fiche_individuelle_fmpa/_delete_form.html.twig') }}
                </div>
            </div>
        {% endif %}
    </div>
    </div>
{% endblock %}

