<div class="panel scrollbar">
    <div class="d-flex justify-content-center">
        <a href="{{ path('repertoire_new') }}"><img class="btn-round-red" type="image"
                                                    src="{{ asset("icones/plus-circle.svg") }}"
                                                    alt="Ajout intervenant"/></a>
    </div>
    </br>

    <div class="row justify-content-around">
        {% for repertoire in repertoires %}
            <div class="white-box">
                <div class="box-title">{{ repertoire.grade }} <br/> {{ repertoire.nom }} {{ repertoire.prenom }}</div>
                <ul class="scrollbar">
                    {% if repertoire.tel %}
                        <li><span>Portable:</span> {{ repertoire.tel }}</li>
                    {% endif %}

                    {% if repertoire.telephonefixe %}
                        <li><span>Fix:</span> {{ repertoire.telephonefixe }}</li>
                    {% endif %}

                    {% if repertoire.email %}
                        <li class="link"><span>Email:</span><a
                                    href="mailto:{{ repertoire.email }}">&nbsp{{ repertoire.email }} </a></li>
                    {% endif %}

                    {% if repertoire.specialite %}
                        <li><span>Spécialité:</span> {{ repertoire.specialite }}</li>
                    {% endif %}

                    {% if repertoire.site %}
                        <li><span>Site:</span> {{ repertoire.site }}</li>
                    {% endif %}

                    {% if repertoire.categorie %}
                        <li><span>Catégorie:</span> {{ repertoire.categorie.nom }}</li>
                    {% endif %}

                    {% if repertoire.adresseprincipale %}
                        <li><span>Adresse:</span> {{ repertoire.adresseprincipale }}</li>
                    {% endif %}

                    {% if repertoire.commentaires %}
                        <li><span>Commentaire:</span> {{repertoire.commentaires > 50 ? repertoire.commentaires|slice(0,50) ~ "..." : repertoire.commentaires}}</li>
                    {% endif %}

                </ul>
                <div class="link-group">
                    <a class="btn btn-info space" role="button"
                       href="{{ path('repertoire_show', {'idrepertoire': encryption.encryptionValue(repertoire.idrepertoire|trim)}) }}">
                        <img src="{{ asset("icones/zoom-in.svg") }}" width="50px" height="20px" alt=""/></a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-info space" role="button"
                           href="{{ path('repertoire_edit', {'idrepertoire': encryption.encryptionValue(repertoire.idrepertoire|trim)}) }}">
                            <img src="{{ asset("icones/pencil-square.svg") }}" width="50px" height="20px" alt=""/></a>
                    {% endif %}

                </div>
            </div>
        {% else %}
            <p class="white-box text-center font-weight-bold">Pas de résultat</p>
        {% endfor %}
    </div>
</div>