<form method="post" action="{{ path('repertoire_delete', {'idrepertoire': encryption.encryptionValue(repertoire.idrepertoire|trim)}) }}"
      onsubmit="return confirm('Voulez-vous vraiment supprimer ce contact ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ repertoire.idrepertoire) }}">
    <button class="btn btn-info link-btn"><img src="{{ asset("icones/trash.svg") }}" width="50px" height="20px"  alt="Supprimer"/></button>
</form>
