{{ form_start(form) }}

<div class="d-flex flex-wrap justify-content-center">
    <div class="d-flex flex-wrap flex-row">
        <div class="box-input m-2">
            {{ form_errors(form.grade) }}
            {{ form_label(form.grade, 'Grade') }}<br/>
            {{ form_widget(form.grade) }}
        </div>

        <div class="box-input m-2">
            {{ form_errors(form.nom) }}
            {{ form_label(form.nom, 'Nom') }}<br/>
            {{ form_widget(form.nom) }}
        </div>

        <div class="box-input m-2">
            {{ form_errors(form.prenom) }}
            {{ form_label(form.prenom, 'Prénom') }}<br/>
            {{ form_widget(form.prenom) }}
        </div>
    </div>
    <div class="d-flex flex-wrap flex-row">
        <div class="box-input m-2">
            {{ form_errors(form.tel) }}
            {{ form_label(form.tel, 'Portable') }}<br/>
            {{ form_widget(form.tel) }}
        </div>

        <div class="box-input m-2">
            {{ form_errors(form.telephonefixe) }}
            {{ form_label(form.telephonefixe, 'Fixe') }}<br/>
            {{ form_widget(form.telephonefixe) }}
        </div>

        <div class="box-input m-2">
            {{ form_errors(form.email) }}
            {{ form_label(form.email, 'Email') }}<br/>
            {{ form_widget(form.email) }}
        </div>
    </div>

    <div class="d-flex flex-wrap flex-row">
        <div class="box-input m-2">
            {{ form_errors(form.categorie) }}
            {{ form_label(form.categorie, 'Catégorie') }}<br/>
            {{ form_widget(form.categorie) }}
        </div>
        <div class="box-input m-2">
            {{ form_errors(form.specialite) }}
            {{ form_label(form.specialite, 'Spécialité') }}<br/>
            {{ form_widget(form.specialite) }}
        </div>

        <div class="box-input m-2">
            {{ form_errors(form.site) }}
            {{ form_label(form.site, 'Site') }}<br/>
            {{ form_widget(form.site) }}
        </div>
    </div>
    <div class="d-flex flex-wrap flex-row">
        <div class="box-input m-2">
            {{ form_errors(form.adresseprincipale) }}
            {{ form_label(form.adresseprincipale, 'Adresse Principale') }}<br/>
            {{ form_widget(form.adresseprincipale) }}
        </div>

        <div class="box-input m-2">
            {{ form_errors(form.villeprincipale) }}
            {{ form_label(form.villeprincipale, 'Ville Principale') }}<br/>
            {{ form_widget(form.villeprincipale) }}
        </div>
    </div>
    <div class="d-flex flex-wrap flex-row">
        <div class="box-input m-2">
            {{ form_errors(form.adressesecondaire) }}
            {{ form_label(form.adressesecondaire, 'Adresse Secondaire') }}<br/>
            {{ form_widget(form.adressesecondaire) }}
        </div>

        <div class="box-input m-2">
            {{ form_errors(form.villesecondaire) }}
            {{ form_label(form.villesecondaire, 'Ville Secondaire') }}<br/>
            {{ form_widget(form.villesecondaire) }}
        </div>
    </div>
</div>

</br>

<div class="box-input">
    {{ form_label(form.commentaires, 'Commentaire') }}
    {{ form_widget(form.commentaires,{ 'attr': {'rows': '10', 'class': 'textarea-form scrollbar'} }) }}
</div>

<div class="link-group">
    <button class="btn btn-info link-btn "><img src="{{ asset("icones/check-circle.svg") }}" width="50px" height="20px" alt="Sauvegarder"/></button>
</div>
{{ form_end(form) }}
</div>
</div>
