{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/admin.css')}}" /> 
   
{% endblock %}

{% block title %}Edit Repertoire{% endblock %}

{% block body %}
    {{ parent() }}

<div class="panel-transparent">
    <div id="card">
        <div class="d-flex flex-wrap justify-content-around">
            <div>
                <a role="button" class="btn btn-info link-btn" href="{{ path('repertoire_index') }}"><img src="{{ asset("icones/arrow-90deg-left.svg") }}" width="50px" height="20px"  alt="Retour"/></a>
            </div>
            <div>
                {{ include('repertoire/_delete_form.html.twig') }}
            </div>
        </div></br>

        <div class="box-title"><h1>Modification d'un contact</h1></div>

        {{ include('repertoire/_form.html.twig', {'button_label': 'Update'}) }}

        
    </div>
</div>
{% endblock %}
