{% extends 'base.html.twig' %}

{% block title %}Repertoire Pro{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/admin.css')}}" /> 
   
{% endblock %}

{% block body %}

    {{ parent() }}

    <div class="panel-filter  margin-top">
        <div class="filter">
            <label>Filtre</label><br/>
            <select id="filter" name="filter">
                <option value="none" selected>Aucun</option>
                {% for categorie in categories %}
                    <option value="{{ categorie.nom }}">{{ categorie.nom }}</option>
                {% endfor %}
            </select>
            <a id="repertoirePDF" class="btn btn-info ml-2" href="{{path('pdfRepertoire')}}" target="_blank">PDF</a>
        </div>
    </div>
    <div id="content">
        {% include "repertoire/_content.html.twig"%}
    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}

    <script src="{{ asset('js/filter.js') }}"></script>
{% endblock %}