{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/admin.css')}}" /> 
{% endblock %}

{% block title %}Ajout contact{% endblock %}

{% block body %}
    {{ parent() }}

<div class="panel-transparent">
    <div id="card">
        
        <div class="d-flex align-items-start"><a class="btn btn-info link-btn" role="button" href="{{ path('repertoire_index') }}"><img src="{{ asset("icones/arrow-90deg-left.svg") }}" width="50px" height="20px"  alt=""/></a></div></br>
        
        <div class="box-title mb-3"><h1>Ajout d'un contact</h1></div>

        {{ include('repertoire/_form.html.twig') }}

    </div>
</div>
{% endblock %}
