{% extends 'base.html.twig' %}

{% block title %}Repertoire{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}"/>

{% endblock %}


{% block body %}

    {{ parent() }}

<div class="panel-transparent">
    <div id="card">

        <div class="d-flex flex-wrap justify-content-around ">
            <div>
                <a class="btn btn-info link-btn" role="button" href="{{ path('repertoire_index') }}"> <img
                            src="{{ asset("icones/arrow-90deg-left.svg") }}" width="50px" height="20px"
                            alt="Retour"/></a>
            </div>
        </div>
        <br/>

        <div>
            <h3 id="card-title" class="text-center p-2">{{ repertoire.grade|upper }}
                <br/> {{ repertoire.nom|upper }} {{ repertoire.prenom|upper }}</h3>

            <div class="mt-3">
                <div class="d-flex flex-wrap">
                    <div class="d-flex align-items-start flex-column mr-5">

                        {% if repertoire.email %}
                            <div class="link"><span class="font-weight-bold">Email:</span>
                                <a href="mailto:{{ repertoire.email }}">&nbsp{{ repertoire.email }} </a>
                            </div>
                        {% endif %}

                        {% if repertoire.tel %}
                            <div><span class="font-weight-bold">Portable:</span> {{ repertoire.tel }}</div>
                        {% endif %}

                        {% if repertoire.telephonefixe %}
                            <div><span class="font-weight-bold">Fix:</span> {{ repertoire.telephonefixe }}</div>
                        {% endif %}

                        {% if repertoire.specialite %}
                            <div><span class="font-weight-bold">Spécialité:</span> {{ repertoire.specialite }}</div>
                        {% endif %}

                        {% if repertoire.site %}
                            <div><span class="font-weight-bold">Site:</span> {{ repertoire.site }}</div>
                        {% endif %}

                        {% if repertoire.categorie %}
                            <div><span class="font-weight-bold">Catégorie:</span> {{ repertoire.categorie.nom }}</div>
                        {% endif %}
                    </div>
                    <div class="d-flex flex-column ">
                        {% if repertoire.villeprincipale %}
                            <div>
                                <span class="font-weight-bold">Ville principale:</span> {{ repertoire.villeprincipale }}
                            </div>
                        {% endif %}

                        {% if repertoire.adresseprincipale %}
                            <div>
                                <span class="font-weight-bold">Adresse principale:</span>
                                <div class="text-format">{{ repertoire.adresseprincipale }}</div>
                            </div>
                        {% endif %}

                        {% if repertoire.adresseprincipale %}
                            <div>
                                <span class="font-weight-bold">Ville secondaire:</span> {{ repertoire.villesecondaire }}
                            </div>
                        {% endif %}

                        {% if repertoire.adresseprincipale %}
                            <div>
                                <span class="font-weight-bold">Adresse secondaire:</span>
                                <div class="text-format">{{ repertoire.adressesecondaire }}</div>
                            </div>
                        {% endif %}

                    </div>
                </div>
                {% if repertoire.commentaires %}
                    <div>
                        <span class="font-weight-bold">Commentaire:</span>
                        <p class="text-format">{{ repertoire.commentaires }}</p>
                    </div>
                {% endif %}

                <br/>

                {% if is_granted('ROLE_ADMIN') %}
                    <div class="d-flex flex-wrap justify-content-around link-group">
                        <div class="d-flex w-25 justify-content-center">
                            <a class="btn btn-info"
                               href="{{ path('repertoire_edit', {'idrepertoire': encryption.encryptionValue(repertoire.idrepertoire|trim)}) }}">
                                <img src="{{ asset("icones/pencil-square.svg") }}" width="50px" height="20px" alt=""/>
                            </a>
                        </div>
                        <div class="d-flex w-25 justify-content-center">
                            {{ include('repertoire/_delete_form.html.twig') }}
                        </div>
                    </div>
                {% endif %}

            </div>

        </div>
    </div>
    {% endblock %}
