<table class="table">
    <thead>
    <tr>
        <th scope="col" class="align-middle text-center text-bold w-25">NOM</th>
        <th scope="col" class="align-middle text-center text-bold">STOCK</th>
        <th scope="col" class="align-middle text-center text-bold w-25 colconso">TYPE</th>
        <th scope="col" class="align-middle colRecherche">
            <div class="form-inline d-flex justify-content-center">
                <input type="text" class="form-control research" id="inputRechercher" name="rechercher"
                       placeholder="Rechercher..." onkeypress="search(event)">
                <a id="searchIcon" alt="search" title="Rechercher" onclick="research()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="white" class="bi bi-search"
                         viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                        <path fill-rule="evenodd"
                              d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                    </svg>
                </a>
            </div>
        </th>
    </tr>
    </thead>
    <tbody class="bg-white scrollbar">

    {% for equipment in equipments %}
        <tr id="{{ equipment.nom }}" class="equipement" >
            <td class="align-middle text-center font-weight-bold nomMat">
                {{ equipment.nom }}

                {% for verification in todoVerifications %}
                    {% if verification.nom == equipment.nom %}

                        &nbsp<img src="{{ asset('icones/urgent.png') }}" width="20px" height="20px" alt="Urgent"/>

                    {% endif %}
                {% endfor %}
            </td>
            <td class="align-middle text-center"> {{ equipment.stock }}</td>
            <td class="align-middle text-center"> {{ equipment.type }} </td>
            <td></td>
        </tr>

    {% endfor %}
    {% for material in materials %}
        <tr>
            <td class="align-middle text-center font-weight-bold nomMat">{{ material.nom }}
                <input type="hidden" class="nomMat" value="{{ material.nom }}">
            </td>
            <td class="align-middle text-center">
                <input id="stock" type="number" class="form-control stock" value="{{ material.stock }}">
                <input type="hidden" value="{{ encryption.encryptionValue(material.id|trim) }}">
            </td>
            <td class="align-middle text-center">

                <select id="type" class="form-control conso" name="types">
                    {% for type in types %}
                        {% if type == material.type %}
                            <option value="{{ encryption.encryptionValue(type.idtypemateriel|trim) }}" selected> {{ type.nom }}</option>
                        {% else %}
                            <option value="{{ encryption.encryptionValue(type.idtypemateriel|trim) }}"> {{ type.nom }}</option>
                        {% endif %}

                    {% endfor %}
                </select>
                <input type="hidden" value="{{ encryption.encryptionValue(material.id|trim) }}">
            </td>
            <td class="align-middle text-center">

                {{ include('materiel/_delete_form.html.twig') }}

            </td>
        </tr>
    {% endfor %}
    {% if not materials and not equipments %}
        <tr>
            <td class="text-center" colspan="14"> Pas de matériels en stock</td>
        </tr>
    {% endif %}
    </tbody>
</table>