<form method="post" action="{{path('equipment_delete', {id: encryption.encryptionValue(equipment.id|trim)})}}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce matériel ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipment.id) }}">
    <button class="btn btn-danger"> <img src="{{ asset("icones/trash.svg") }}" width="50px" height="20px"  alt=""/></button>
</form>