{{ form_start(equipmentForm) }}
<div class="box-stock">
    <div class="d-flex flex-column">
        <div class="d-flex d-flex row justify-content-center mb-2">
            <div class="d-flex flex-wrap justify-content-center check-group">
                <div class="box-input">
                    {{ form_label(equipmentForm.oxygeneFilter) }}<br/>
                    {{ form_widget(equipmentForm.oxygeneFilter, { 'attr': {'class':'input-form'} }) }}
                </div>

                <div class="box-input">
                    {{ form_label(equipmentForm.csFilter) }}<br/>
                    {{ form_widget(equipmentForm.csFilter, { 'attr': {'class':'input-form'} }) }}
                </div>

                <div class="box-input">
                    {{ form_label(equipmentForm.qrcodeFilter) }}<br/>
                    {{ form_widget(equipmentForm.qrcodeFilter, { 'attr': {'class':'input-form'} }) }}
                </div>
            </div>
        </div>

        <div class="d-flex flex-wrap justify-content-center  ">

            <div class="box-input">
                {{ form_errors(equipmentForm.nom, { 'attr': {'class':'error'} }) }}
                {{ form_label(equipmentForm.nom, 'Nom') }}<br/>
                {{ form_widget(equipmentForm.nom, { 'attr': {'class':'input-form'} }) }}
            </div>

            <div class="box-input">
                {{ form_errors(equipmentForm.numero, { 'attr': {'class':'error'} }) }}
                {{ form_label(equipmentForm.numero, 'Numéro') }}<br/>
                {{ form_widget(equipmentForm.numero, { 'attr': {'class':'input-form'} }) }}
            </div>

            <div class="box-input">
                {{ form_errors(equipmentForm.dateCreation, { 'attr': {'class':'error'} }) }}
                {{ form_label(equipmentForm.dateCreation, 'Date d\'ajout') }}<br/>
                {{ form_widget(equipmentForm.dateCreation, { 'attr': {'class':'input-form'} }) }}
            </div>

            <div class="box-input">
                {{ form_errors(equipmentForm.periodicite, { 'attr': {'class':'error'} }) }}
                {{ form_label(equipmentForm.periodicite, 'Périodicité') }}<br/>
                {{ form_widget(equipmentForm.periodicite, { 'attr': {'class':'input-form'} }) }}
            </div>

            <div class="box-input">
                {{ form_errors(equipmentForm.dureeVie, { 'attr': {'class':'error'} }) }}
                {{ form_label(equipmentForm.dureeVie, 'Durée de vie') }}<br/>
                {{ form_widget(equipmentForm.dureeVie, { 'attr': {'class':'input-form'} }) }}
            </div>

            <div class="box-input">
                {{ form_errors(equipmentForm.type, { 'attr': {'class':'error'} }) }}
                {{ form_label(equipmentForm.type, 'Type') }}<br/>
                {{ form_widget(equipmentForm.type, { 'attr': {'class':'input-form'} }) }}
            </div>

            {% if equipmentForm.minPression is defined and  equipmentForm.pression is defined %}
                <div class="box-input">
                    {{ form_errors(equipmentForm.minPression, { 'attr': {'class':'error'} }) }}
                    {{ form_label(equipmentForm.minPression, 'Pression minimum') }}<br/>
                    {{ form_widget(equipmentForm.minPression, { 'attr': {'class':'input-form'} }) }}
                </div>

                <div class="box-input">
                    {{ form_errors(equipmentForm.pression, { 'attr': {'class':'error'} }) }}
                    {{ form_label(equipmentForm.pression, 'Pression') }}<br/>
                    {{ form_widget(equipmentForm.pression, { 'attr': {'class':'input-form'} }) }}
                </div>
            {% endif %}

            {% if equipmentForm.centresSecours is defined %}
                <div class="box-input">
                    {{ form_errors(equipmentForm.centresSecours, { 'attr': {'class':'error'} }) }}
                    {{ form_label(equipmentForm.centresSecours, 'Centres de secours') }}<br/>
                    {{ form_widget(equipmentForm.centresSecours, { 'attr': {'class':'input-form'} }) }}
                </div>
            {% endif %}

        </div>
        <div class="d-flex flex-wrap justify-content-center">
            {% if equipmentForm.qrCode is defined %}
                <div class="box-input">
                    {{ form_errors(equipmentForm.qrCode, { 'attr': {'class':'error'} }) }}
                    {{ form_label(equipmentForm.qrCode, 'QR code') }}<br/>
                    {{ form_widget(equipmentForm.qrCode, { 'attr': {'type':'hidden'} }) }}
                    <button id="scan-qr-code" type="button" class="btn btn-info link-btn mb-2" >Scan QR code</button>
                    <canvas hidden="" id="qr-canvas"></canvas>
                    <button hidden="" id="stop-scan" class="btn btn-info link-btn mt-2" type="button">Arrêter le scan</button>
                    <img hidden="" src="https://chart.googleapis.com/chart?cht=qr&chl=https://www.1formatik.com&chs=200x200&chld=L|0" id="qr-code-generate" alt="QR code enregistré"/>

                </div>
                <script src="{{ asset('js/scan_qrcode.js') }}"></script>
            {% endif %}
        </div>
    </div>

    <div class="text-center m-2">
        <button class="btn btn-success border border-dark"><img src="{{ asset("icones/check-circle.svg") }}" width="50px" height="20px" alt=""/></button>
    </div>

</div>
{{ form_end(equipmentForm) }}