{{ form_start(materialForm) }}
<div class="box-stock">
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-wrap justify-content-center  ">

            <div class="box-input">
                {{ form_errors(materialForm.nom) }}
                {{ form_label(materialForm.nom, 'Nom') }}<br/>
                {{ form_widget(materialForm.nom, { 'attr': {'class':'input-form'} }) }}
            </div>

            <div class="box-input">
                {{ form_errors(materialForm.stock) }}
                {{ form_label(materialForm.stock, 'Stock') }}<br/>
                {{ form_widget(materialForm.stock, { 'attr': {'class':'input-form'} }) }}
            </div>

            <div class="box-input">
                {{ form_errors(materialForm.type) }}
                {{ form_label(materialForm.type, 'Type') }}<br/>
                {{ form_widget(materialForm.type, { 'attr': {'class':'input-form'} }) }}
            </div>

        </div>
    </div>

    <div class="text-center m-2">
        <button class="btn btn-success border border-dark"><img src="{{ asset("icones/check-circle.svg") }}"
                                                                width="50px" height="20px" alt=""/></button>
    </div>

</div>
{{ form_end(materialForm) }}