<div {% if materialForm.vars.valid and equipmentForm.vars.valid %}id="group-form" {% endif %}>
    <div id="form-consommable"
            {% if not materialForm.vars.valid and equipmentForm.vars.valid %}
                style="display:block"
            {% elseif materialForm.vars.valid and not equipmentForm.vars.valid %}
                style="display:none"
            {% endif %}>

        {{ include('materiel/_form_material.html.twig') }}
    </div>

    <div id="form-equipement"
            {% if not equipmentForm.vars.valid and materialForm.vars.valid %}
                style="display:block"
            {% elseif equipmentForm.vars.valid and not materialForm.vars.valid %}
                style="display:none"
            {% endif %}>
        {{ include('materiel/_form_equipment.html.twig') }}
    </div>
</div>