{{ form_start(form) }}
<div class="box-stock">
    <div class="d-flex flex-column">
        <h3 class="box-title p-3">Vérification de l'équipement </h3>
        <div class="d-flex flex-wrap justify-content-center  ">

            <div class="box-input">
                {{ form_errors(form.date) }}
                {{ form_label(form.date, 'Date') }}<br/>
                {{ form_widget(form.date, { 'attr': {'class':'input-form'} }) }}
            </div>

            <div class="box-input">
                {{ form_errors(form.verificateur) }}
                {{ form_label(form.verificateur, 'Vérificateur') }}<br/>
                {{ form_widget(form.verificateur, { 'attr': {'class':'input-form'} }) }}
            </div>

            <div class="box-input">
                {{ form_errors(form.commentaire) }}
                {{ form_label(form.commentaire, 'Commentaire') }}<br/>
                {{ form_widget(form.commentaire, { 'attr': {'class':'input-form'} }) }}
            </div>

        </div>
    </div>

    <div class="text-center m-2">
        <button class="btn btn-success link-btn"><img src="{{ asset("icones/check-circle.svg") }}"
                                                                width="50px" height="20px" alt=""/></button>
    </div>

</div>
{{ form_end(form) }}