<div class="d-flex justify-content-center" style="padding-bottom : 50px;">
    <div class="panel-tab">
        <div class="title-tab"><h3>Historique des vérifications "{{ equipment_name }} {% if equipment_num %}N°{{ equipment_num }}{% endif %}"</h3></div>
        <table>
            <thead>
            <tr>
                <th>
                    Vérificateur
                </th>
                <th>
                    Date
                </th>
                <th>
                    Commentaire
                </th>
            </tr>
            </thead>
            <tbody class="max-height scrollbar">

                {% for verification in verifications %}
                    <tr>
                        <td data-label='Vérificateur'>
                            {{ verification.verificateur }}
                        </td>
                        <td data-label='Date'>
                            {{ verification.date|date('d/m/Y') }}
                        </td>
                        <td data-label='Commentaire'>
                            {{ verification.commentaire }}
                        </td>
                    </tr>

            {% else %}
                <td>
                    Pas de résultats
                </td>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>