{% extends 'base.html.twig' %}

{% block title %}Commande matériel{% endblock %}

{% block body %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/admin.css') }}"/>

    <div class="panel-transparent">
        <form id="card" class="d-flex flex-column">
            <div id="error"></div>
            <div class="d-flex flex-wrap justify-content-around box-input">

                <select name="materiel" class="text-justify m-2" id="selectMateriel" required autofocus>
                    <option value="">- Choix du matériel -</option>
                    {% for material in materials %}
                        <option value="material_{{ material.id }}">{{ material.nom|upper }}</option>
                    {% endfor %}
                    {% for equipment in equipments %}
                        <option value="equipment_{{ equipment.idEquipment }}">{{ equipment.nom|upper }}</option>
                    {% endfor %}
                </select>

                <input type="number" min="1" class="m-2" name="quantite" id="inputNbMateriel" placeholder="Quantité"
                       required>
                <input type="text" maxlength="80" class="m-2" name="justification" id="inputJustification"
                       placeholder="Justification">

            </div>
            <button id="add-material" type="button" class="btn btn-info link-btn"><span>Ajouter</span>
                <img src="{{ asset('icones/plus-circle.svg') }}" alt="">
            </button>
        </form>
    </div>
        <br/>
        <form method="POST" class="submit">
            <div class="panel-tab">
                <table class="table tab" id="tableMateriel">
                    <thead>
                    <tr>
                        <th scope="col">Matériel</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Justification</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>

                    <tbody class="scrollbar">
                        <td id="init" class="text-center font-weight-bold">Pas de matériel</td>
                    </tbody>
                </table>
            </div>

            <br/>

            <div class="panel-transparent">
            <div id="card">
                <div class="d-flex flex-column box-input">
                <select name="centre" id="inputCentre" class="text-center" required>
                    <option value="">- Centre de secours -</option>
                    {% for centre in centres %}
                        <option value="{{ centre.idcentre }}">{{ centre.nom }}</option>
                    {% endfor %}
                </select>
                <input id="intervention" type="hidden" value="{{ idinter }}">
                <button id="submit-order" type="button" class="btn btn-info link-btn mt-3">
                    <span>Commander</span>
                </button>
                </div>
            </div>
            </div>
        </form>

    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/commande.js') }}"></script>
{% endblock %}