{% extends 'base.html.twig' %}

{% block title %}Stockage{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}"/>

{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="panel scrollbar">


        <a class="btn btn-info link-btn mb-2" href="{{ path('materiel_index') }}"><img
                    src="{{ asset("icones/arrow-90deg-left.svg") }}" width="50px" height="20px" alt=""/></a>

        <div class="row justify-content-around">
            {% for equipment in equipments %}
            {% if "now"|date('Y-m-d') > equipment.dateProchaineVerification|date('Y-m-d') %}
            <div class="white-box todoVerification">
                {% else %}
                <div class="white-box">
                    {% endif %}
                    <div class="box-title">
                        <h3> {{ equipment.nom.nom }} </h3>
                        {{ equipment.disponible ? "<span class=\"text-success\">En stock</span>" : "<span class=\"text-danger\">Attribué</span>" }}
                    </div>
                    <ul class="scrollbar">

                        {% if equipment.type %}
                            <li><span>Type:</span> {{ equipment.type }}</li>
                        {% endif %}

                        {% if equipment.numero %}
                            <li><span>Numéro:</span> {{ equipment.numero }}</li>
                        {% endif %}

                        {% if equipment.dateCreation %}
                            <li><span>Date d'ajout:</span> {{ equipment.dateCreation|date('d/m/Y') }}</li>
                        {% endif %}

                        {% if equipment.dureeVie %}
                            <li><span>Durée de vie:</span> {{ equipment.dureeVie }}</li>
                        {% endif %}

                        {% if equipment.periodicite %}
                            <li><span>Périodicité:</span> {{ equipment.periodicite }}</li>
                        {% endif %}

                        {% if equipment.dateProchaineVerification %}
                            <li><span>Prochaine vérification:</span> {{ equipment.dateProchaineVerification|date('d/m/Y') }}</li>
                        {% endif %}

                        {% if equipment.pression %}
                            <li><span>Pression:</span> {{ equipment.pression }} bars</li>
                        {% endif %}

                        {% if equipment.centresSecours %}
                            <li><span>Centre de secours:</span> {{ equipment.centresSecours }}</li>
                        {% endif %}

                        {% if equipment.qrCode %}
                            <li class="text-center"><span>QR Code:</span> <br/>
                                <img src="https://chart.googleapis.com/chart?cht=qr&chl={{ equipment.qrCode }}&chs=100x100&chld=L|0" id="qr-code-generate" alt="{{ equipment.qrCode }}"/>
                            </li>
                        {% endif %}

                    </ul>
                    <div class="link-group">
                        {% if "now"|date('Y-m-d') > equipment.dateProchaineVerification|date('Y-m-d') %}
                            <button class="btn btn-success link-btn verification" value="{{ encryption.encryptionValue(equipment.id|trim) }}">Faire la vérification</button>
                        {% endif %}

                        {% if equipment.verifications|length > 1 %}
                            <button class="btn btn-success link-btn verifications-archive" value="{{ encryption.encryptionValue(equipment.id|trim) }}">Historique</button>
                        {% endif %}

                        {{ include('materiel/_delete_equipment.html.twig') }}
                    </div>
                </div>
                {% else %}
                    <p class="white-box text-center font-weight-bold">Pas de résultats</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="modalForm" class="modal"
    {% if form is defined and not form.vars.valid %}
    style="display: block"
    {% endif %}>

        <!-- The Close Button -->
        <span id="close" class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <div id="form-verification" class="modal-content white-box">
            {% if form is defined %}
                {{ include('materiel/_form_verification.html.twig') }}
            {% endif %}
        </div>

    </div>

    <div id="modalVerification" class="modal">

        <!-- The Close Button -->
        <span id="close" class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <div id="historique-verification" class="modal-content white-box">
            {% if verifications is defined %}
                {{ include('materiel/_content_verifications.html.twig') }}
            {% endif %}
        </div>

    </div>
    <script src="{{ asset('js/materieladmin.js') }}"></script>

{% endblock %}
