{% extends 'base.html.twig' %}

{% block title %}Gestion matériel{% endblock %}


{% block body %}
    {{ parent() }}

        <link rel="stylesheet" href="{{ asset('css/materieladmin.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/base.css') }}"/>
        <div class="center">
            <div class="panel-filter margin-top mb-3">
                <div class="filter">
                    <label>Filtre</label><br/>
                    <select id="filter" name="filter">
                        <option value="none" selected>Aucun</option>
                        {% for type in types %}
                            <option value="{{ type.nom }}"> {{ type.nom }}</option>
                        {% endfor %}
                    </select>
                    <br/>
                </div>
            </div>

            <div>
                <div class="panel-stock">

                    {% for message in app.session.flashbag.all() %}
                        <div class="flash-info text-center p-1 rounded w-50 m-auto text-white">
                            {{ message|join }}
                        </div><br>
                    {% endfor %}

                    <div  class="choice-menu">
                        <div>
                            <img class="arrow-inverse" src="{{ asset("icones/arrow_form.png") }}" width="50px" height="50px" alt="Precédent"/>
                            &nbspFormulaires d'ajout&nbsp
                            <img src="{{ asset("icones/arrow_form.png") }}" width="50px" height="50px" alt="Suivant"/>
                        </div>
                        <div><span>Afficher</span></div>
                    </div>

                    {{ include('materiel/_form.html.twig') }}

                    <br/>

                    <div id="content">
                        {% include "materiel/_content.html.twig" %}
                    </div>
                    <br>

                    <div class="text-center p-2">
                        <a id="pdfStock" class="btn btn-info" href="{{ path('downloadrecap',{filter: encryption.encryptionValue(filter|trim)}) }}"
                           target="_blank">Générer PDF
                            <img src="{{ asset('img/icon_pdf.png') }}" alt="Impossible de charger l'image" title="pdf"/>
                        </a>
                    </div>
                </div>
                <br>

                <div class="panel-stock text-center p-2">
                    <h2>EMAIL DE LA PHARMACIE</h2>

                    <form method="post" action="{{ path('materiel_modifCentres') }}">
                        <div class="m-4">
                            <div class="box-input">
                                <input class="form-control centreEmail" name="centreemail" value="{{ centre.email }}">
                            </div>
                        </div>
                        <br/>
                        <button type="submit" class="btn w-25">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-save" viewBox="0 0 16 16">
                                <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
                            </svg>
                        </button>
                    </form>

                </div>
                <br/>
            </div>

        </div>


        <script src="{{ asset('js/materieladmin.js') }}"></script>
        <script src="{{ asset('js/filter.js') }}"></script>


{% endblock %}