{% if type_form is defined %}
    <div class="config_panel">

        {% if type_form == 'ville' %}

            {% include('admin/_panel_ville.html.twig') %}

        {% elseif type_form == 'motif' %}

            {% include('admin/_panel_motif.html.twig') %}

        {% elseif type_form == 'type_materiel' %}

            {% include('admin/_panel_type_materiel.html.twig') %}

        {% elseif type_form == 'centres_secours' %}

            {% include('admin/_panel_centres_secours.html.twig') %}

        {% elseif type_form == 'fonction_user' %}

            {% include('admin/_panel_fonction_user.html.twig') %}

        {% elseif type_form == 'grade_user' %}

            {% include('admin/_panel_grade_user.html.twig') %}

        {% elseif type_form == 'categories_repertoire' %}

            {% include('admin/_panel_categories_repertoire.html.twig') %}

        {% elseif type_form == 'nom_equipement' %}

            {% include('admin/_panel_nom_equipement.html.twig') %}

        {% elseif type_form == 'lieux_interventions' %}

            {% include('admin/_panel_lieux_interventions.html.twig') %}

        {% elseif type_form == 'technique' %}

            {% include('admin/_panel_technique.html.twig') %}

         {% elseif type_form == 'statut_fmpa' %}

            {% include('admin/_panel_statut_fmpa.html.twig') %}
        
        {% elseif type_form == 'filiere' %}

            {% include('admin/_panel_filiere.html.twig') %}

        {% elseif type_form == 'CTD' %}

            {% include('admin/_panel_CTD.html.twig') %}

        {% elseif type_form == 'type_convention' %}

            {% include('admin/_panel_type_convention.html.twig') %}

        {% endif %}

    </div>
{% endif %}