<form method="post" action="{{ path('CTD_delete', {'id': encryption.encryptionValue(CTD.id|trim)}) }}"
      onsubmit="return confirm('Voulez-vous vraiment supprimer ce CTD ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ CTD.id) }}">
    <button class="btn btn-info link-btn"><img src="{{ asset("icones/trash.svg") }}" width="50px" height="20px"  alt="Supprimer"/></button>
</form>