<form method="post" action="{{ path('lieux_interventions_delete', {'id': encryption.encryptionValue(lieu_intervention.idLieuxInterventions|trim)}) }}"
      onsubmit="return confirm('Voulez-vous vraiment supprimer ce lieu ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lieu_intervention.idLieuxInterventions) }}">
    <button class="btn btn-info link-btn"><img src="{{ asset("icones/trash.svg") }}" width="50px" height="20px"  alt="Supprimer"/></button>
</form>