<form method="post" action="{{ path('centres_secours_delete', {'id': encryption.encryptionValue(centre_secours.id|trim)}) }}"
      onsubmit="return confirm('Voulez-vous vraiment supprimer ce motif ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ centre_secours.id) }}">
    <button class="btn btn-info link-btn"><img src="{{ asset("icones/trash.svg") }}" width="50px" height="20px"  alt="Supprimer"/></button>
</form>
