<form method="post" action="{{ path('fonction_user_delete', {'id': encryption.encryptionValue(fonction_user.idFonction|trim)}) }}"
      onsubmit="return confirm('Voulez-vous vraiment supprimer cette fonction ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fonction_user.idFonction) }}">
    <button class="btn btn-info link-btn"><img src="{{ asset("icones/trash.svg") }}" width="50px" height="20px"  alt="Supprimer"/></button>
</form>