<form method="post" action="{{ path('ville_delete', {'id': encryption.encryptionValue(ville.idville|trim)}) }}"
      onsubmit="return confirm('Voulez-vous vraiment supprimer cette ville ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ville.idville) }}">
    <button class="btn btn-info link-btn"><img src="{{ asset("icones/trash.svg") }}" width="50px" height="20px"  alt="Supprimer"/></button>
</form>
