<form method="post" action="{{ path('nom_equipement_delete', {'id': encryption.encryptionValue(nom_equipement.idNomEquipement|trim)}) }}"
      onsubmit="return confirm('Voulez-vous vraiment supprimer ce nom d\'équipement ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ nom_equipement.idNomEquipement) }}">
    <button class="btn btn-info link-btn"><img src="{{ asset("icones/trash.svg") }}" width="50px" height="20px"  alt="Supprimer"/></button>
</form>
