<form method="post" action="{{ path('statut_fmpa_delete', {'id': encryption.encryptionValue(statut_fmpa.id|trim)}) }}"
      onsubmit="return confirm('Voulez-vous vraiment supprimer ce statut ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ statut_fmpa.id) }}">
    <button class="btn btn-info link-btn"><img src="{{ asset("icones/trash.svg") }}" width="50px" height="20px"  alt="Supprimer"/></button>
</form>