<form method="post" action="{{ path('technique_delete', {'id': encryption.encryptionValue(technique.id|trim)}) }}"
      onsubmit="return confirm('Voulez-vous vraiment supprimer cette technique ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ technique.id) }}">
    <button class="btn btn-info link-btn"><img src="{{ asset("icones/trash.svg") }}" width="50px" height="20px"  alt="Supprimer"/></button>
</form>
