<form method="post" action="{{ path('grade_user_delete', {'id': encryption.encryptionValue(grade_user.idGrade|trim)}) }}"
      onsubmit="return confirm('Voulez-vous vraiment supprimer ce grade ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ grade_user.idGrade) }}">
    <button class="btn btn-info link-btn"><img src="{{ asset("icones/trash.svg") }}" width="50px" height="20px"  alt="Supprimer"/></button>
</form>