<form method="post" action="{{ path('filiere_delete', {'id': encryption.encryptionValue(filiere.id|trim)}) }}"
      onsubmit="return confirm('Voulez-vous vraiment supprimer cette filière ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ filiere.id) }}">
    <button class="btn btn-info link-btn"><img src="{{ asset("icones/trash.svg") }}" width="50px" height="20px"  alt="Supprimer"/></button>
</form>
