<form method="post" action="{{ path('type_materiel_delete', {'id': encryption.encryptionValue(type_materiel.idtypemateriel|trim)}) }}"
      onsubmit="return confirm('Voulez-vous vraiment supprimer ce type de matériel ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_materiel.idtypemateriel) }}">
    <button class="btn btn-info link-btn"><img src="{{ asset("icones/trash.svg") }}" width="50px" height="20px"  alt="Supprimer"/></button>
</form>
