<form method="post" action="{{ path('motif_delete', {'id': encryption.encryptionValue(motif.idmotif|trim)}) }}"
      onsubmit="return confirm('Voulez-vous vraiment supprimer ce motif ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ motif.idmotif) }}">
    <button class="btn btn-info link-btn"><img src="{{ asset("icones/trash.svg") }}" width="50px" height="20px"  alt="Supprimer"/></button>
</form>
