{% if form_edit is defined %}
    <div class="panel-filter">
        {{ form_start(form_edit) }}
        <h4>Modification de la filière</h4>
        <div class="box-input">
            {{ form_errors(form_edit.nom) }}
            {{ form_label(form_edit.nom, 'Nom') }}<br/>
            {{ form_widget(form_edit.nom, { 'attr': {'class':'input-form'} }) }}
        </div>

        <div class="text-center m-2">
            <button class="btn btn-info link-btn"><img src="{{ asset("icones/check-circle.svg") }}" width="50px" height="20px"  alt="Valider"/></button>
        </div>
        {{ form_end(form_edit) }}
    </div>
{% endif %}