<div class="d-flex flex-wrap justify-content-around">
    <div class="d-flex flex-column">

        {% for message in app.session.flashbag.all() %}
            <div class="alert alert-success text-center p-1 rounded " role="alert">
                {{ message|join }}
            </div><br>
        {% endfor %}
        <div class="d-flex flex-wrap row ">
            <div>
                <div class="panel-filter">
                    {{ form_start(form_new) }}
                    <h4>Ajouter un lieu</h4>
                    <div class="box-input">
                        {{ form_errors(form_new.nomLieuxInterventions) }}
                        {{ form_label(form_new.nomLieuxInterventions, 'Nom') }}<br/>
                        {{ form_widget(form_new.nomLieuxInterventions, { 'attr': {'class':'input-form'} }) }}
                    </div>

                    <div class="text-center m-2">
                        <button class="btn btn-info link-btn"><img src="{{ asset("icones/check-circle.svg") }}"
                                                                   width="50px"
                                                                   height="20px" alt="Valider"/></button>
                    </div>
                    {{ form_end(form_new) }}
                </div>
            </div>
            <div id="form_edit">
                {% include "admin/_form_lieux_interventions_edit.html.twig" %}
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center ml-5">
        <table>
            <thead>
            <tr>
                <th>
                    Lieu
                </th>
                <th>
                    Actions
                </th>
            </tr>
            </thead>
            <tbody class="scrollbar">
            {% for lieu_intervention in lieux_interventions %}
                <tr>
                    <td data-label='Nom'>
                        {{ lieu_intervention.nomLieuxInterventions }}
                    </td>
                    <td>
                        <div class="d-flex row justify-content-center">
                            <button class="btn btn-info link-btn edit_li" value="{{ encryption.encryptionValue(lieu_intervention.idLieuxInterventions|trim) }}"><img
                                        src="{{ asset("icones/pencil-square.svg") }}" width="50px" height="20px"
                                        alt="Modifier"/></button>

                            <div class="d-flex">{{ include('admin/_delete_lieux_interventions.html.twig') }}</div>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>
                        Pas de résultats
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
