<div class="d-flex flex-wrap justify-content-around">
    <div class="d-flex flex-column">

        {% for message in app.session.flashbag.all() %}
            <div class="alert alert-success text-center p-1 rounded " role="alert">
                {{ message|join }}
            </div><br>
        {% endfor %}

        <div class="d-flex flex-wrap row ">
            <div>
                <div class="panel-filter">
                    {{ form_start(form_new) }}
                    <h4>Ajouter un nom</h4>
                    <div class="box-input">
                        {{ form_errors(form_new.nom) }}
                        {{ form_label(form_new.nom, 'Nom') }}<br/>
                        {{ form_widget(form_new.nom, { 'attr': {'class':'input-form'} }) }}
                    </div>

                    <div class="text-center m-2">
                        <button class="btn btn-info link-btn"><img src="{{ asset("icones/check-circle.svg") }}"
                                                                   width="50px"
                                                                   height="20px" alt="Valider"/></button>
                    </div>
                    {{ form_end(form_new) }}
                </div>
            </div>
            <div id="form_edit">
                {% include "admin/_form_nom_equipement_edit.html.twig" %}
            </div>

        </div>
    </div>
    <div class="d-flex justify-content-center ml-5">
        <table>
            <thead>
            <tr>
                <th>
                    Nom
                </th>
                <th>
                    Actions
                </th>
            </tr>
            </thead>
            <tbody class="scrollbar">
            {% for nom_equipement in noms_equipement %}
                <tr>
                    <td data-label='Nom'>
                        {{ nom_equipement.nom }}
                    </td>
                    <td>
                        <div class="d-flex row justify-content-center">
                            <button class="btn btn-info link-btn edit_ne"
                                    value="{{ encryption.encryptionValue(nom_equipement.idNomEquipement|trim) }}"><img
                                        src="{{ asset("icones/pencil-square.svg") }}" width="50px" height="20px"
                                        alt="Modifier"/></button>

                            <div class="d-flex">{{ include('admin/_delete_nom_equipement.html.twig') }}</div>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>
                        Pas de résultats
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
