<div class="d-flex flex-wrap justify-content-around">
    <div class="d-flex flex-column">

        {% for message in app.session.flashbag.all() %}
            <div class="alert alert-success text-center p-1 rounded " role="alert">
                {{ message|join }}
            </div><br>
        {% endfor %}

        <div class="d-flex flex-wrap row ">
            <div>
                <div class="panel-filter">
                    {{ form_start(form_new) }}
                    <h4>Ajouter un type</h4>
                    <div class="box-input">
                        {{ form_errors(form_new.nom) }}
                        {{ form_label(form_new.nom, 'Nom') }}<br/>
                        {{ form_widget(form_new.nom, { 'attr': {'class':'input-form'} }) }}
                    </div>

                    <div class="text-center m-2">
                        <button class="btn btn-info link-btn"><img src="{{ asset("icones/check-circle.svg") }}"
                                                                   width="50px"
                                                                   height="20px" alt="Valider"/></button>
                    </div>
                    {{ form_end(form_new) }}
                </div>
            </div>
                <div id="form_edit">
                    {% include "admin/_form_type_materiel_edit.html.twig" %}
                </div>

            </div>
        </div>
        <div class="d-flex justify-content-center ml-5">
            <table>
                <thead>
                <tr>
                    <th>
                        Type Matériel
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
                </thead>
                <tbody class="scrollbar">
                {% for type_materiel in types_materiel %}
                    <tr>
                        <td data-label='Motif'>
                            {{ type_materiel.nom }}
                        </td>
                        <td>
                            <div class="d-flex row justify-content-center">
                                <button class="btn btn-info link-btn edit_tm"
                                        value="{{ encryption.encryptionValue(type_materiel.idtypemateriel|trim) }}"><img
                                            src="{{ asset("icones/pencil-square.svg") }}" width="50px" height="20px"
                                            alt="Modifier"/></button>

                                <div class="d-flex">{{ include('admin/_delete_type_materiel.html.twig') }}</div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>
                            Pas de résultats
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
