<div class="d-flex flex-wrap justify-content-around ">
    <div class="d-flex flex-column ">
        {% for message in app.session.flashbag.all() %}
            <div class="alert alert-success text-center p-1 rounded " role="alert">
                {{ message|join }}
            </div><br>
        {% endfor %}
        <div class="d-flex flex-wrap row ">
            <div>
                <div class="panel-filter">
                    {{ form_start(form_new) }}
                    <h4>Ajouter une catégorie</h4>
                    <div class="box-input">
                        {{ form_errors(form_new.nom) }}
                        {{ form_label(form_new.nom, 'Nom') }}<br/>
                        {{ form_widget(form_new.nom, { 'attr': {'class':'input-form'} }) }}
                    </div>
                    <div class="box-input">
                        {{ form_errors(form_new.classement) }}
                        {{ form_label(form_new.classement, 'Classement') }}<br/>
                        {{ form_widget(form_new.classement, { 'attr': {'class':'input-form'} }) }}
                    </div>
                    <div class="text-center m-2">
                        <button class="btn btn-info link-btn"><img src="{{ asset("icones/check-circle.svg") }}"
                                                                   width="50px"
                                                                   height="20px" alt="Valider"/></button>
                    </div>
                    {{ form_end(form_new) }}
                </div>
            </div>
            <div id="form_edit">
                {% include "admin/_form_categories_repertoire_edit.html.twig" %}
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center ml-5">
        <table>
            <thead>
            <tr>
                <th>
                    Nom
                </th>
                <th>
                    Classement
                </th>
                <th>
                    Actions
                </th>
            </tr>
            </thead>
            <tbody class="scrollbar">
            {% for categorie_repertoire in categories_repertoire %}
                <tr>
                    <td data-label='Nom'>
                        {{ categorie_repertoire.nom }}
                    </td>
                    <td data-label='Classement'>
                        {{ categorie_repertoire.classement }}
                    </td>
                    <td>
                        <div class="d-flex flex-column justify-content-center">
                            <div>
                                <button class="btn btn-info link-btn edit_cr" value="{{ encryption.encryptionValue(categorie_repertoire.id|trim) }}"><img
                                            src="{{ asset("icones/pencil-square.svg") }}" width="50px" height="20px"
                                            alt="Modifier"/></button>
                            </div>
                            <div class="m-auto">{{ include('admin/_delete_categories_repertoire.html.twig') }}</div>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>
                        Pas de résultats
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
