<div class="d-flex flex-wrap justify-content-around ">
	<div class="d-flex flex-column ">
		{% for message in app.session.flashbag.all() %}
			<div class="alert alert-success text-center p-1 rounded " role="alert">
				{{ message|join }}
			</div><br>
		{% endfor %}
		<div class="d-flex flex-wrap row ">
			<div>
				<div class="panel-filter">
					{{ form_start(form_new) }}
					<h4>Ajouter un centre de secours</h4>
					<div class="box-input">
						{{ form_errors(form_new.nom) }}
						{{ form_label(form_new.nom, 'Nom') }}<br/>
						{{ form_widget(form_new.nom, { 'attr': {'class':'input-form'} }) }}
					</div>
					<div class="box-input">
						{{ form_errors(form_new.type) }}
						{{ form_label(form_new.type, 'Type') }}<br/>
						{{ form_widget(form_new.type, { 'attr': {'class':'input-form'} }) }}
					</div>
					<div class="box-input">
						{{ form_errors(form_new.statut) }}
						{{ form_label(form_new.statut, 'Statut') }}<br/>
						{{ form_widget(form_new.statut, { 'attr': {'class':'input-form'} }) }}
					</div>

					<div class="box-input">
						{{ form_errors(form_new.adresse) }}
						{{ form_label(form_new.adresse, 'Adresse') }}<br/>
						{{ form_widget(form_new.adresse, { 'attr': {'class':'input-form'} }) }}
					</div>
					<div class="text-center m-2">
						<button class="btn btn-info link-btn"><img src="{{ asset("icones/check-circle.svg") }}" width="50px" height="20px" alt="Valider"/></button>
					</div>
					{{ form_end(form_new) }}
				</div>
			</div>
			<div id="form_edit">
				{% include "admin/_form_centres_secours_edit.html.twig" %}
			</div>
		</div>
	</div>

	<div class="d-flex justify-content-center ml-5">
		<table>
			<thead>
				<tr>
					<th>
						Nom
					</th>
					<th>
						Type
					</th>
					<th>
						Statut
					</th>
                    <th>
						Adresse
					</th>
					<th>
						Actions
					</th>
				</tr>
			</thead>
			<tbody class="scrollbar">
				{% for centre_secours in centres_secours %}
					<tr>
						<td data-label='Nom'>
							{{ centre_secours.nom }}
						</td>
						<td data-label='Type'>
							{{ centre_secours.type }}
						</td>
						<td data-label='Statut'>
							{{ centre_secours.statut }}
						</td>
                        <td data-label='Adresse'>
							{{ centre_secours.adresse }}
						</td>
						<td>
							<div class="d-flex flex-column justify-content-center">
								<div>
									<button class="btn btn-info link-btn edit_cs" value="{{ encryption.encryptionValue(centre_secours.id|trim) }}"><img src="{{ asset("icones/pencil-square.svg") }}" width="50px" height="20px" alt="Modifier"/></button>
								</div>
								<div class="m-auto">{{ include('admin/_delete_centres_secours.html.twig') }}</div>
							</div>
						</td>
					</tr>
				{% else %}
					<tr>
						<td>
							Pas de résultats
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
