<div class="d-flex flex-wrap justify-content-around">
    <div class="d-flex flex-column">

        {% for message in app.session.flashbag.all() %}
            <div class="alert alert-success text-center p-1 rounded " role="alert">
                {{ message|join }}
            </div><br>
        {% endfor %}
        <div class="d-flex flex-wrap row ">
            <div>
                <div class="panel-filter">
                    {{ form_start(form_new) }}
                    <h4>Ajouter une filière</h4>
                    <div class="box-input">
                        {{ form_errors(form_new.nom) }}
                        {{ form_label(form_new.nom, 'Nom') }}<br/>
                        {{ form_widget(form_new.nom, { 'attr': {'class':'input-form'} }) }}
                    </div>

                    <div class="text-center m-2">
                        <button class="btn btn-info link-btn"><img src="{{ asset("icones/check-circle.svg") }}"
                                                                   width="50px"
                                                                   height="20px" alt="Valider"/></button>
                    </div>
                    {{ form_end(form_new) }}
                </div>
            </div>
                <div id="form_edit">
                    {% include "admin/_form_filiere_edit.html.twig" %}
                </div>
        </div>
    </div>

        <div class="d-flex justify-content-center ml-5">
            <table>
                <thead>
                <tr>
                    <th>
                        Filière
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
                </thead>
                <tbody class="scrollbar">
                {% for filiere in filieres %}
                    <tr>
                        <td data-label='Filière'>
                            {{ filiere.nom }}
                        </td>
                        <td>
                            <div class="d-flex row justify-content-center">
                                <button class="btn btn-info link-btn edit_fi" value="{{ encryption.encryptionValue(filiere.id|trim) }}"><img
                                            src="{{ asset("icones/pencil-square.svg") }}" width="50px" height="20px"
                                            alt="Modifier"/></button>

                                <div class="d-flex">{{ include('admin/_delete_filiere.html.twig') }}</div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>
                            Pas de résultats
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
