{% extends 'base.html.twig' %}

{% block title %}Panneau d'administration{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/admin.css')}}" />
{% endblock %}

{% block body %}

    {% block navbar %}{{ parent() }}{% endblock %}
    {% block background %}{{ parent() }}{% endblock %}
{% block message %}{% endblock %}
    <div id="left-menu">
        <ul>

            <li></li>
            <li id="lieux_interventions" class="lm-li-fst">Lieux d'interventions</li>
            <li id="ville_inter" class="lm-li">Villes d'intervention</li>
            <li id="motif_inter" class="lm-li">Motifs d'intervention</li>
            <li id="nom_equipement" class="lm-li">Noms des équipements</li>
            <li id="type_materiel" class="lm-li">Types du matériel</li>
            <li id="centres_secours" class="lm-li">Centres de secours</li>
            <li id="fonction_user" class="lm-li">Fonctions du personnel</li>
            <li id="grade_user" class="lm-li">Grades du personnel</li>
            <li id="categories_rep" class="lm-li-lst">Catégories du répertoire</li>
            <li id="technique" class="lm-li-lst">Techniques</li>
            <li id="statut_fmpa" class="lm-li-lst">Statuts FMPA</li>
            <li id="filiere" class="lm-li-lst">Filières</li>
            <li id="CTD" class="lm-li-lst">CTDs</li>
            <li id="type_convention" class="lm-li-lst">Types de convention</li>
            <li></li>

        </ul>

    </div>
    <div id="content">
        {% include "admin/_content.html.twig"%}
    </div>
{% block footer %}{% endblock %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('js/admin.js') }}"></script>
{% endblock %}
