<form method="post" action="{{ path('convention_delete', {'id': encryption.encryptionValue(convention.id|trim)}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette convention ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ convention.id) }}">
        <button class="btn btn-info link-btn"><img src="{{ asset("icones/trash.svg") }}" width="50px" height="20px"  alt="Supprimer"/></button>
</form>
