{{ form_start(form) }}

<div class="d-flex flex-column justify-content-center font-weight-bold">
	<div class="d-flex flex-wrap justify-content-center">
		<div class="d-flex flex-column box-input">
			{{ form_errors(form.site) }}
			{{ form_label(form.site) }}
			{{ form_widget(form.site) }}
		</div>

		<div class="d-flex flex-column box-input">
			{{ form_errors(form.adresseSite) }}
			{{ form_label(form.adresseSite) }}
			{{ form_widget(form.adresseSite) }}
		</div>

		<div class="d-flex flex-column box-input">
			{{ form_errors(form.typeConvention) }}
			{{ form_label(form.typeConvention) }}
			{{ form_widget(form.typeConvention) }}
		</div>
	</div>
	<div class="d-flex flex-wrap justify-content-center">
		<div class="d-flex flex-column box-input ">
			{{ form_errors(form.dateDebut) }}
			{{ form_label(form.dateDebut) }}
			{{ form_widget(form.dateDebut) }}
		</div>

		<div class="d-flex flex-column box-input">
			{{ form_errors(form.dateFin) }}
			{{ form_label(form.dateFin) }}
			{{ form_widget(form.dateFin) }}
		</div>
	</div>
	<div class="d-flex flex-column">
		<div class="d-flex flex-column box-input form-file">
			{{ form_errors(form.cheminConvention) }}
			{{ form_label(form.cheminConvention) }}
			{{ form_widget(form.cheminConvention) }}
		</div>

		<div class="d-flex flex-column box-input form-file">
			{{ form_errors(form.cheminFichePreparatoire) }}
			{{ form_label(form.cheminFichePreparatoire) }}
			{{ form_widget(form.cheminFichePreparatoire) }}
		</div>

		<div class="d-flex flex-column box-input form-file">
			{{ form_errors(form.cheminFichePreparatoireVierge) }}
			{{ form_label(form.cheminFichePreparatoireVierge) }}
			{{ form_widget(form.cheminFichePreparatoireVierge) }}
		</div>
	</div>
</div>
<div class="link-group">
	<button class="btn btn-info link-btn"><img src="{{ asset("icones/check-circle.svg") }}" width="50px" height="20px" alt=""/></button>
</div>

{{ form_end(form) }}
