{% extends 'base.html.twig' %}

{% block title %}Modification d'une convention{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/admin.css')}}" />
{% endblock %}

{% block body %}
    {{ parent() }}
<div class="panel-transparent">
    <div id="card">

        <a class="btn btn-info link-btn" role="button" href="{{ path('convention_index') }}"><img src="{{ asset("icones/arrow-90deg-left.svg") }}" width="50px" height="20px"  alt="Retour"/></a></br>

        <div class="box-title"><h1>Modification de la convention :</h1></div>

        {{ include('convention/_form.html.twig') }}

    </div>
</div>
{% endblock %}