{% extends 'base.html.twig' %}

{% block title %}Convention
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('css/admin.css')}}"/>

{% endblock %}

{% block body %}
	{{parent()}}


	<div class="d-flex flex-column justify-content-center pb-5">
		<div class="d-flex justify-content-center">
			<a href="{{ path('convention_new') }}"><img class="btn-round-red" type="image" src="{{ asset("icones/plus-circle.svg") }}" alt="Ajout convention"/></a>
		</div>
	</br>

	<div class="panel-tab">
		<div class="title-tab">
			<h3>Liste de toutes les conventions
			</h3>
		</div>
		<table>
			<thead>
				<tr>
					<th>
						Site
					</th>
					<th>
						Adresse du site
					</th>
					<th>
						Date de début
					</th>
					<th>
						Date de fin
					</th>
					<th>
						Actions
					</th>
				</tr>
			</thead>
			<tbody class="max-height scrollbar">

				{% for convention in conventions %}
					<tr class="font-weight-bold">
						<td data-label='Site'>
							{{ convention.site }}
						</td>
						<td data-label='Adresse du site'>
							{{ convention.adresseSite }}
						</td>
						<td data-label='Date de début'>
							{{ convention.dateDebut ? convention.dateDebut|date('d/m/Y') : '' }}
						</td>
						<td data-label='Date de fin'>
							{{ convention.dateFin ? convention.dateFin|date('d/m/Y') : '' }}
						</td>
						<td>
							<div class="link-group border-0">
								<a class="btn btn-info space" role="button" href="{{ path('convention_show', {'id': encryption.encryptionValue(convention.id|trim)}) }}"><img src="{{ asset("icones/zoom-in.svg") }}" width="50px" height="20px" alt="détails"/></a>
								{% if is_granted('ROLE_ADMIN') %}
									<a class="btn btn-info space" role="button" href="{{ path('convention_edit', {'id': encryption.encryptionValue(convention.id|trim)}) }}"><img src="{{ asset("icones/pencil-square.svg") }}" width="50px" height="20px" alt="supprimer"/></a>
								{% endif %}
							</div>
						</td>

					</tr>
				{% else %}
					<td>
						<p class="text-center font-weight-bold pt-2">Pas de résultats</p>
					</td>
				{% endfor %}

			</tbody>
		</table>
	</div>
</div>{% endblock %}
