{% extends 'base.html.twig' %}

{% block title %}Convention
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('css/admin.css')}}"/>
{% endblock %}

{% block body %}

	{{ parent() }}
	<div class="panel-transparent">
		<div id="card">
			<a class="btn btn-info link-btn" role="button" href="{{ path('convention_index') }}">
				<img src="{{ asset("icones/arrow-90deg-left.svg") }}" width="50px" height="20px" alt="Retour"/></a>


			<div class="d-flex flex-column justify-content-center font-weight-bold">

				<div class="box-title">
					<h1 class="text-danger">Convention</h1>
				</div>
				<div class="d-flex flex-wrap justify-content-start">
					<div>
						<p class="mt-2 ">Site :
							{{ convention.site}}</p>
						<p class="mt-2 ">Adresse du site :
							{{ convention.adresseSite}}</p>
						<p class="mt-2 ">Type:
							{{ convention.typeConvention}}</p>
						<p class="mt-2 ">Début de la convention :
							{{ convention.dateDebut ? convention.dateDebut|date('d/m/Y') : '' }}</p>
						<p class="mt-2 ">Fin de la convention :
							{{ convention.dateFin ? convention.dateFin|date('d/m/Y') : '' }}</p>
					</div>
				</div>
				<div>

					<ul class="report scrollbar">
						<span>Documents :</span>
						{% if convention.nomConvention or convention.nomFichePreparatoire or convention.nomFichePreparatoireVierge%}
							<li>
								{% if convention.nomConvention %} 
                                <a class="btn btn-info link-btn p-2" href=" {{ path('convention_pdf',{'id': encryption.encryptionValue(convention.id|trim)})}}"> Convention PDF</a>
                                {% endif %}
							</li>
							<li>
								{% if convention.nomFichePreparatoire %} 
                                <a class="btn btn-info link-btn p-2" href=" {{ path('fiche_preparatoire_pdf',{'id': encryption.encryptionValue(convention.id|trim)})}}"> Fiche Preparatoire Exercice PDF</a>
                                {% endif %}
							</li>
							<li>
								{% if convention.nomFichePreparatoireVierge %} 
                                <a class="btn btn-info link-btn p-2" href=" {{ path('fiche_preparatoire_vierge_word',{'id': encryption.encryptionValue(convention.id|trim)})}}"> Fiche Preparatoire Vierge Exercice WORD</a>
                                {% endif %}
							</li>
						{% else %}
							<p class="text-center font-weight-bold pt-2">Aucun document</p>
						{% endif %}
					</ul>
				</div>

			</div>

			{% if is_granted('ROLE_ADMIN') %}
				<div class="d-flex flex-wrap justify-content-around link-group">
					<div>
						<a class="btn btn-info link-btn" role="button" href="{{ path('convention_edit', {'id': encryption.encryptionValue(convention.id|trim)}) }}">
							<img src="{{ asset("icones/pencil-square.svg") }}" width="50px" height="20px" alt=""/></a>
					</div>
					<div>
						{{ include('convention/_delete_form.html.twig') }}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
