<form method="post" action="{{ path('evaluation_delete', {'id': encryption.encryptionValue(evaluation.id|trim)}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette évaluation ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evaluation.id) }}">
       <button class="btn btn-info link-btn"><img src="{{ asset("icones/trash.svg") }}" width="50px" height="20px"  alt="Supprimer"/></button>
</form>
