{{ form_start(form) }}

<div>
	<div class="d-flex flex-wrap justify-content-center">

		<div class="d-flex flex-column">
			<div class="d-flex flex-column box-input ">
				{{ form_errors(form.nbInterventions) }}
				{{ form_label(form.nbInterventions) }}
				{{ form_widget(form.nbInterventions) }}
			</div>

			<div class="d-flex flex-column box-input">
				{{ form_errors(form.nbHeuresFmpa) }}
				{{ form_label(form.nbHeuresFmpa) }}
				{{ form_widget(form.nbHeuresFmpa) }}
			</div>
		</div>
		<div class="d-flex flex-column">
			<div class="d-flex flex-column box-input">
				{{ form_errors(form.filiere) }}
				{{ form_label(form.filiere) }}
				{{ form_widget(form.filiere) }}
			</div>
			<div class="d-flex flex-column box-input ">
				{{ form_errors(form.centre) }}
				{{ form_label(form.centre) }}
				{{ form_widget(form.centre) }}
			</div>
		</div>
		<div class="d-flex flex-column box-input">
			{{ form_errors(form.ctd) }}
			{{ form_label(form.ctd) }}
			{{ form_widget(form.ctd) }}
		</div>
	</div>

	<div class="d-flex flex-column pt-4">
		<h5 class="font-weight-bold">Appréciation Générale de l'agent :</h5>
		<div class="d-flex flex-wrap justify-content-center">
			<div class="d-flex flex-column box-input ">
				{{ form_errors(form.competenceOperationnelle) }}
				{{ form_label(form.competenceOperationnelle) }}
				{{ form_widget(form.competenceOperationnelle, { 'attr': {'class':'small-textarea-form text-wrap scrollbar'} }) }}
			</div>

			<div class="d-flex flex-column box-input">
				{{ form_errors(form.implication) }}
				{{ form_label(form.implication) }}
				{{ form_widget(form.implication, { 'attr': {'class':'small-textarea-form text-wrap scrollbar'} }) }}
			</div>
		</div>
	</div>
</div>
<div class="d-flex flex-column pt-4">
	<h5 class="font-weight-bold">Objectif
		{{ evaluation.date|date('Y') }}:</h5>
	<div class="d-flex flex-wrap justify-content-center">

		<div class="d-flex flex-column">
			<div class="d-flex flex-wrap justify-content-center">
				<div class="d-flex flex-column box-input ">
					{{ form_errors(form.objectifAnneeEnCours) }}
					{{ form_label(form.objectifAnneeEnCours) }}
					{{ form_widget(form.objectifAnneeEnCours, { 'attr': {'class':'small-textarea-form text-wrap scrollbar'} }) }}
				</div>

				<div class="d-flex flex-column box-input">
					{{ form_errors(form.critereAnneeEnCours) }}
					{{ form_label(form.critereAnneeEnCours) }}
					{{ form_widget(form.critereAnneeEnCours, { 'attr': {'class':'small-textarea-form text-wrap scrollbar'} }) }}
				</div>
			</div>
			<div class="d-flex flex-column box-input">
				{{ form_errors(form.bilan) }}
				{{ form_label(form.bilan) }}
				{{ form_widget(form.bilan, { 'attr': {'class':'textarea-form text-wrap scrollbar'} }) }}
			</div>
		</div>

	</div>

</div>

<div class="d-flex flex-column pt-4">
	<h5 class="font-weight-bold">Objectif
		{{ evaluation.date|date('Y') + 1}}
		:</h5>
	<div class="d-flex flex-wrap justify-content-center">
		<div class="d-flex flex-column">
			<div class="d-flex flex-wrap justify-content-center">
				<div class="d-flex flex-column">
					<div class="d-flex flex-column box-input">
						{{ form_errors(form.objectifAnneeSuivante) }}
						{{ form_label(form.objectifAnneeSuivante) }}
						{{ form_widget(form.objectifAnneeSuivante, { 'attr': {'class':'small-textarea-form text-wrap scrollbar'} }) }}
					</div>

					<div class="d-flex flex-column box-input">
						{{ form_errors(form.critereAnneeSuivante) }}
						{{ form_label(form.critereAnneeSuivante) }}
						{{ form_widget(form.critereAnneeSuivante, { 'attr': {'class':'small-textarea-form text-wrap scrollbar'} }) }}
					</div>
				</div>
				<div class="d-flex flex-column">
					<div class="d-flex flex-column box-input">
						{{ form_errors(form.conditionReussiteAnneeSuivante) }}
						{{ form_label(form.conditionReussiteAnneeSuivante) }}
						{{ form_widget(form.conditionReussiteAnneeSuivante, { 'attr': {'class':'small-textarea-form text-wrap scrollbar'} }) }}
					</div>

					<div class="d-flex flex-column box-input">
						{{ form_errors(form.delaisRealisationAnneeSuivante) }}
						{{ form_label(form.delaisRealisationAnneeSuivante) }}
						{{ form_widget(form.delaisRealisationAnneeSuivante, { 'attr': {'class':'small-textarea-form text-wrap scrollbar'} }) }}
					</div>
				</div>
			</div>
			<div class="d-flex flex-column box-input">
				{{ form_errors(form.commentaire) }}
				{{ form_label(form.commentaire) }}
				{{ form_widget(form.commentaire, { 'attr': {'class':'textarea-form text-wrap scrollbar'} }) }}
			</div>
		</div>
	</div>
</div>

<div class="link-group">
	<button class="btn btn-info link-btn"><img src="{{ asset("icones/check-circle.svg") }}" width="50px" height="20px" alt=""/></button>
</div>
{{ form_end(form) }}</div>
