{% extends 'base.html.twig' %}

{% block title %}Modification d'une évaluation{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/admin.css')}}" />
{% endblock %}

{% block body %}
{{ parent() }}
<div class="panel-transparent">
    <div id="card">

        <a class="btn btn-info link-btn" role="button" href="{{ path('user_show', {'id': encryption.encryptionValue(evaluation.personnel.id|trim)}) }}"><img src="{{ asset("icones/arrow-90deg-left.svg") }}" width="50px" height="20px"  alt="Retour"/></a></br>

        <div class="bg-white"><h1>Évaluation de {{ evaluation.personnel.nom|upper }}
					{{ evaluation.personnel.prenom|capitalize }}</h1></div>

        {{ include('evaluation/_form.html.twig') }}

    </div>
</div>
{% endblock %}
