{% extends 'base.html.twig' %}

{% block title %}Evaluations{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('css/admin.css')}}"/>

{% endblock %}

{% block body %}
	{{parent()}}

	<div class="panel scrollbar">
		<div class="d-flex justify-content-center">
			<a href="{{ path('evaluation_new', {'id': encryption.encryptionValue('1')}) }}"><img class="btn-round-red" type="image" src="{{ asset("icones/plus-circle.svg") }}" alt="Ajout evaluation"/></a>
		</div>
	</br>

	<div class="row justify-content-around">
		{% for evaluation in evaluations %}
			{% set nextYear = evaluation.date|date('Y') + 1 %}

			<div class="white-box">
				<div class="box-title">{{ evaluation.personnel.nom|upper }}
					{{ evaluation.personnel.prenom|capitalize }}</div>
				<ul class="scrollbar">
					<li>
						<span>Filière :</span>
						{{ evaluation.filiere }}
					</li>
					<li>
						<span>Centre :</span>
						{{ evaluation.centre }}
					</li>
					<li>
						<span>Nom du CTD :</span>
						{{ evaluation.ctd }}
					</li>
					<li>
						<span>Nombre d'interventions :</span>
						{{ evaluation.nbInterventions }}
					</li>
					<li>
						<span>Heures en FMPA :</span>
						{{ evaluation.nbHeuresFmpa }}
					</li>
					<li>
						<span>Compétence opérationnelle:</span>
						{{ evaluation.competenceOperationnelle }}
					</li>
					<li>
						<span>Implication au sein de l'équipe :</span>
						{{ evaluation.implication }}
					</li>
					<li>
						<span>Objectif
							{{ evaluation.date|date('Y') }}
							:</span>
						{{ evaluation.objectifAnneeEnCours }}
					</li>
					<li>
						<span>Rappel des critères d'atteinte:</span>
						{{ evaluation.critereAnneeEnCours }}
					</li>
					<li>
						<span>Bilan :</span>
						{{ evaluation.bilan }}
					</li>
					<li>
						<span>Objectif
							{{ evaluation.date|date('Y') + 1 }}
							:</span>
						{{ evaluation.objectifAnneeSuivante }}
					</li>
					<li>
						<span>Condition de réussite et moyens de réalisation :</span>
						{{ evaluation.conditionReussiteAnneeSuivante }}
					</li>
					<li>
						<span>Critères d'atteinte :</span>
						{{ evaluation.critereAnneeSuivante }}
					</li>
					<li>
						<span>Délais de réalisation :</span>
						{{ evaluation.delaisRealisationAnneeSuivante }}
					</li>
					<li>
						<span>Commentaire :</span>
						{{ evaluation.commentaire }}
					</li>
				</ul>
				<div class="link-group">
					<a class="btn btn-info" role="button" href="{{ path('evaluation_show', {'id': encryption.encryptionValue(evaluation.id|trim)}) }}"><img src="{{ asset("icones/zoom-in.svg") }}" width="50px" height="20px" alt="Voir"/></a>
					<a class="btn btn-info" role="button" href="{{ path('evaluation_edit', {'id': encryption.encryptionValue(evaluation.id|trim)}) }}"><img src="{{ asset("icones/pencil-square.svg") }}" width="50px" height="20px" alt="Modifier"/></a>
				</div>
			</div>
		{% else %}
			<p class="white-box text-center font-weight-bold">Pas de résultats</p>
		{% endfor %}
	</div>
</div>{% endblock %}
