{% extends 'base.html.twig' %}

{% block title %}Évaluation{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/admin.css')}}" />
{% endblock %}

{% block body %}

    {{ parent() }}
    <div class="panel-transparent">
    <div id="card" >
        <a class="btn btn-info link-btn" role="button" href="{{ path('user_show', {'id': encryption.encryptionValue(evaluation.personnel.id|trim)}) }}" >  <img src="{{ asset("icones/arrow-90deg-left.svg") }}" width="50px" height="20px"  alt="Retour"/></a>


        <div class="d-flex flex-column justify-content-center font-weight-bold">

            <div class="box-title" >
                <h1 class="text-danger">Évaluation</h1>
            </div>

            <div class="box-tittle pt-3" >
                <span class="text-danger">Personnel :</span> <p class="mt-2 report">{{ evaluation.personnel.nom}} {{ evaluation.personnel.prenom}}</p>
                <span class="text-danger">Filière :</span> <p class="mt-2 report">{{ evaluation.filiere}}</p>
                <span class="text-danger">Centre :</span> <p class="mt-2 report">{{ evaluation.centre}}</p>
                <span class="text-danger">Nom du CTD :</span> <p class="mt-2 report">{{ evaluation.ctd}}</p>
                <span class="text-danger">Nombre d'interventions :</span> <p class="mt-2 report">{{ evaluation.nbInterventions}}</p>
                <span class="text-danger">Nombre de FMPA :</span> <p class="mt-2 report">{{ evaluation.nbHeuresFmpa}}</p>
                <span class="text-danger">Rappel objectif {{ evaluation.date|date('Y')}} :</span> <p class="mt-2 report">{{ evaluation.objectifAnneeEnCours}}</p>
                <span class="text-danger">Rappel des critères d'atteinte :</span> <p class="mt-2 report">{{ evaluation.critereAnneeEnCours}}</p>
                <span class="text-danger">Bilan :</span> <p class="mt-2 report">{{ evaluation.bilan}}</p>
                <span class="text-danger">Objectif {{ evaluation.date|date('Y') + 1 }} :</span> <p class="mt-2 report">{{ evaluation.objectifAnneeSuivante}}</p>
                <span class="text-danger">Critères d'atteinte :</span> <p class="mt-2 report">{{ evaluation.critereAnneeSuivante}}</p>
                <span class="text-danger">Conditions de réussite et moyens de réalisation :</span> <p class="mt-2 report">{{ evaluation.conditionReussiteAnneeSuivante}}</p>
                <span class="text-danger">Délais de réalisation :</span> <p class="mt-2 report">{{ evaluation.delaisRealisationAnneeSuivante}}</p>
                <span class="text-danger">Commentaire :</span> <p class="mt-2 report">{{ evaluation.commentaire}}</p>
            </div>

        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="d-flex flex-wrap justify-content-around link-group">
                <div>
                    <a class="btn btn-info link-btn"  role="button" href="{{ path('evaluation_edit', {'id': encryption.encryptionValue(evaluation.id|trim)}) }}"> <img src="{{ asset("icones/pencil-square.svg") }}" width="50px" height="20px"  alt=""/></a>
                </div>
                <div>
                    {{ include('evaluation/_delete_form.html.twig') }}
                </div>
            </div>
        {% endif %}
    </div>
    </div>
{% endblock %}

