
<div class="panel scrollbar">
    <div class="d-flex justify-content-center">
        <a href="{{ path('news_new') }}"><img class = "btn-round-red" type="image" src="{{ asset("icones/plus-circle.svg") }}" alt="Ajout news" /></a>
    </div></br>

    <div class="row justify-content-around">
        {% for news in news %}
            <div class="white-box">
                <div class="box-title">{{ news.titre|capitalize }} <br/> Écrit par {{ news.auteur.nom }} {{ news.auteur.prenom }} le {{ news.date ? news.date|date('d/m/Y') : '' }}</div>
                <ul class="scrollbar">
                    <li><p class="text-justify">{{ news.contenu|slice(0,1000) }}...</p></li>
                </ul>
                <div class="link-group">
                    <a class="btn btn-info space" role="button" href="{{ path('news_show', {'idnews': encryption.encryptionValue(news.idnews|trim)}) }}"><img src="{{ asset("icones/zoom-in.svg") }}" width="50px" height="20px"  alt="détails"/></a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-info space"  role="button" href="{{ path('news_edit', {'idnews': encryption.encryptionValue(news.idnews|trim)}) }}"><img src="{{ asset("icones/pencil-square.svg") }}" width="50px" height="20px"  alt="supprimer"/></a>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <p class="white-box text-center font-weight-bold">Pas d'actualités</p>
        {% endfor %}
    </div>
</div>