<form method="post" action="{{ path('news_delete', {'idnews': encryption.encryptionValue(news.idnews|trim)}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette actualité ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ news.idnews) }}">
    <button class="btn btn-info link-btn"><img src="{{ asset("icones/trash.svg") }}" width="50px" height="20px"  alt="Supprimer"/></button>
</form>
