{{ form_start(form) }}

<div class="d-flex flex-column justify-content-center font-weight-bold">

    <div class="d-flex flex-column box-input">
        {{ form_label(form.titre, 'Titre') }}
        {{ form_widget(form.titre, {'attr': {'maxlength': '45'} }) }}
    </div>

    <div class="box-input">
        {{ form_label(form.contenu, 'Contenu') }}
        {{ form_widget(form.contenu,{ 'attr': {'rows': '10', 'class': 'textarea-report scrollbar mb-5'} }) }}
    </div>

</div>
<div class="link-group">
<button class="btn btn-info link-btn"><img src="{{ asset("icones/check-circle.svg") }}" width="50px" height="20px" alt=""/></button>
</div>

{{ form_end(form) }}
