{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}"/>
{% endblock %}

{% block title %}Archives des actualités{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="panel-transparent">
        <div id="document" class="card p-5">
            {% if app.request.attributes.get('_route') =="newsInFolder" %}
                <div class="d-flex justify-content-start">
                    <a class="btn btn-info link-btn " role="button" href="{{ path('archives_index') }}"><img
                                src="{{ asset("icones/arrow-90deg-left.svg") }}" width="50px" height="20px"
                                alt="Retour"/></a>
                </div>
            {% elseif app.request.attributes.get('_route') =="archives_index"%}
                <div class="d-flex justify-content-start">
                    <a class="btn btn-info link-btn " role="button" href="{{ path('news_index') }}"><img
                                src="{{ asset("icones/arrow-90deg-left.svg") }}" width="50px" height="20px"
                                alt="Retour"/></a>
                </div>
            {% endif %}

            <div class="box-title"><h1>Archives des anciennes actualités</h1></div>


            <div class="d-flex flex-wrap justify-content-start document-body scrollbar">
                {% if dossiers is defined %}
                    {% if dossiers is not null and app.request.attributes.get('_route') != "newsInFolder" %}

                        {% for dossier in dossiers %}
                            <div class="d-flex flex-column mr-4 link">
                                <a class="text-center" href="{{ path('newsInFolder',{'folder':dossier.nom }) }}"><img
                                            src="{{ asset("icones/folderDoc.png") }}" width="90px" height="90px"
                                            alt="dossier"/></br>{{ dossier.nom|slice(0,50) }}</a>
                            </div>
                        {% endfor %}

                    {% endif %}
                {% endif %}
                {% if newsArchives is defined %}

                    {% for news in newsArchives %}
                        <div class="d-flex flex-column mr-3 link">
                            {% if is_granted('ROLE_ADMIN') %}

                            {% endif %}
                            <a class="text-center" href="{{ path("news_pdf",{id: encryption.encryptionValue(news.idNewsArchive|trim)}) }}" target="_blank">
                                <img src="{{ asset("icones/document.png") }}" width="90px" height="90px"
                                     alt="document"/> </br>{{ news.newsNom|slice(0,30) }}
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if dossiers is defined and dossiers is null %}
                    <div class="d-flex justify-content-center">
                        <div class="flex-column text-center">
                            <img src="{{ asset("icones/empty_file.gif") }}" width="90px" height="90px" alt=""/><br/>
                            <h1>Archive vide</h1>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}