{% extends 'base.html.twig' %}

{% block title %}Modification de la News{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/admin.css')}}" />
{% endblock %}

{% block body %}
    {{ parent() }}
<div class="panel-transparent">
    <div id="card">

        <a class="btn btn-info link-btn" role="button" href="{{ path('news_index') }}"><img src="{{ asset("icones/arrow-90deg-left.svg") }}" width="50px" height="20px"  alt="Retour"/></a></br>

        <div class="box-title"><h1>Modification de l'actualité :<br/> <span class="h3 embossed-title text-justify">{{ news.titre }}</span></h1></div>

        {{ include('news/_form.html.twig') }}

    </div>
</div>
{% endblock %}
