{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/admin.css')}}" />

{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="panel-filter margin-top">
        <div class="filter">
            <label>Filtre</label><br/>
            <select id="filter" name="filter">
                <option value="none" selected>Aucun</option>
                {% for new in yearsNews %}
                    <option value="{{ new.year }}">{{ new.year }}</option>
                {% endfor %}
            </select>

            <a class="btn btn-info link-btn ml-2" role="button" href="{{ path('archives_index') }}">Archives</a>
        </div>
    </div>


    <div id="content">
        {% include "news/_content.html.twig"%}
    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}

    <script src="{{ asset('js/filter.js') }}"></script>
{% endblock %}