{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/admin.css')}}" />
{% endblock %}

{% block body %}

    {{ parent() }}
    <div class="panel-transparent">
    <div id="card" >
        <a class="btn btn-info link-btn" role="button" href="{{ path('news_index') }}" >  <img src="{{ asset("icones/arrow-90deg-left.svg") }}" width="50px" height="20px"  alt="Retour"/></a>


        <div class="d-flex flex-column justify-content-center font-weight-bold">

            <div class="box-title" >
                <h1 class="text-danger">{{ news.titre }}</h1>
                <h3> <span class="font-italic">Écrit par {{ news.auteur.prenom }} {{ news.auteur.nom }} le</span> {{ news.date ? news.date|date('d/m/Y') : '' }}</h3>
            </div>

            <div class="box-news scrollbar" >
                <p class="mt-2 report">{{ news.contenu }}</p>
            </div>

        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="d-flex flex-wrap justify-content-around link-group">
                <div>
                    <a class="btn btn-info link-btn"  role="button" href="{{ path('news_edit', {'idnews': encryption.encryptionValue(news.idnews|trim)}) }}"> <img src="{{ asset("icones/pencil-square.svg") }}" width="50px" height="20px"  alt=""/></a>
                </div>
                <div>
                    {{ include('news/_delete_form.html.twig') }}
                </div>
            </div>
        {% endif %}
    </div>
    </div>
{% endblock %}
