<form method="post" action="{{ path('DELETEPhotos',{'idphoto':photo.idphoto }) }}"
      onsubmit="return confirm('Voulez-vous vraiment supprimer la photo ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ photo.idphoto) }}">
    <button class="btn btn-info delete-document" ><img src="{{ asset("icones/delete_document.png") }}" width="20px" height="20px"  alt="Supprimer"/></button>
</form>