{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/admin.css')}}" />
    <link rel="stylesheet" href="{{asset('css/photos.css')}}" />
{% endblock %}

{% block title %}Album{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="panel-transparent">
        <div id="document" class="card p-5">
            {% if app.request.attributes.get('_route') =="albumdossier" %}
                <div class="d-flex justify-content-start">
                    <a class="btn btn-info link-btn " role="button" href="{{ path('album') }}"><img
                                src="{{ asset("icones/arrow-90deg-left.svg") }}" width="50px" height="20px"
                                alt="Retour"/></a>
                </div>
            {% endif %}

            <div class="box-title"><h1>Photos</h1></div>
            <div class="d-flex justify-content-center mt-2 mb-3">
                <a href="{{ path('album_new') }}"><img class="btn-round-red" type="image"
                                                      src="{{ asset("icones/plus-circle.svg") }}"
                                                      alt="Ajout image"/></a>
            </div>
            {% if dossiers or photos %}
            <div class="d-flex flex-wrap justify-content-start document-body scrollbar">

                {% if dossiers is not null and app.request.attributes.get('_route') != "albumdossier"%}

                    {% for dossier in dossiers %}
                        <div class="d-flex flex-column mr-4 link">
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="mt-3 text-center">{{ include('album/_delete_folder.html.twig') }}</div>
                            {% endif %}
                            <a href="{{ path('albumdossier',{'nomdossier':dossier.nom }) }}"><img
                                        src="{{ asset("icones/folderImg.png") }}" width="90px" height="90px"
                                        alt="dossier"/></br>{{ dossier.nom|slice(0,50) }}</a>
                        </div>
                    {% endfor %}

                {% endif %}

                {% for photo in photos %}
                    <div class="d-flex flex-column mr-3 link">
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="mt-3 text-center">{{ include('album/_delete_photo.html.twig') }}</div>
                        {% endif %}

                        <a><img id="img" class="cadre img-shadow img img-thumbnail mt-3" src="{{ asset(photo.chemin) }}" width="90px" height="90px"
                                 alt="{{  photo.nom }}" />
                        {{ photo.nom|slice(0,30) }}
                        </a>

                    </div>
                {% endfor %}
                {% endif %}
                {% if not dossiers and not photos %}
                    <div class="d-flex justify-content-center">
                        <div class="flex-column text-center">
                            <img src="{{ asset("icones/empty_file.gif") }}" width="90px" height="90px" alt="Aucun documents"/><br/>
                            <h1>Il n'y a aucune image</h1>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span id="close" class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="imgModal">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}

    <script src="{{ asset('js/photo.js') }}"></script>
{% endblock %}