{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}"/>
{% endblock %}

{% block title %}Nouvelles photos{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container-documents">
        <div class="left-box">
            <div class="panel-left">
                <div class="box-pdf">
                    <div class="box-title">
                        <img src="{{ asset("icones/pdf.png") }}"  alt=""/>
                        <h4>Vos photos</h4>
                        <div class="text-center mt-1"><img class="add-photo" src="{{ asset("icones/add_document.png") }}" alt="Valider"/></div>
                    </div>
                    <ul id="doc-list">
                        <li id="child_1"><span>Photo n°1</span></li>
                    </ul>

                    <div class="link-group">
                        <button id="submit-form" class="btn btn-info link-btn">Envoyer</button>
                        <img id="loading" src="{{ asset('icones/loading.gif') }}" width="20px" height="20px" alt="Chargement">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="right-box">
        <div class="panel-transparent">
            <div id="card">

                <a role="button" class="btn btn-info link-btn" href="{{ path('album') }}"><img
                            src="{{ asset("icones/arrow-90deg-left.svg") }}" width="50px" height="20px"
                            alt="Retour"/></a>

                <div class="box-title"><h1>Photo n°1</h1></div>

                {{ include('album/_form.html.twig') }}

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/document_photo.js') }}"></script>
{% endblock %}