<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" href="{{ asset('img/icon.png') }}"/>
    <title>
        {% block title %}{% endblock %}
    </title>
    {% block stylesheets %}
        <!-- CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
              integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/base.css') }}"/>

    {% endblock %}
</head>
<body>
<div id="main">
    {% block body %}
    {% block navbar %}{% include('menu/index.html.twig') %}{% endblock %}

        {% block message %}
            {% for message in app.session.flashbag.all() %}
                <div class="alert alert-success text-center p-1 rounded m-auto w-50" role="alert">
                    {{ message|join }}
                </div><br>
            {% endfor %}
        {% endblock %}

        {% block background %}
            <div id="carousel" class="carousel slide" data-interval="5000" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img id="slide1" src="{{ asset('img/feu-de-caisson.jpg') }}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img id="slide2" src="{{ asset('img/pompier.jpg') }}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img id="slide3" src="{{ asset('img/Visage.jpg') }}" class="d-block w-100" alt="...">
                    </div>
                </div>

            </div>
        {% endblock %}
    {% endblock %}

    {% block javascripts %}

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"
                integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
                crossorigin="anonymous"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {% endblock %}
</div>

{% block footer %}
    <div id="footer">
        <footer>
            <p>Moyen d'Information et de Traitement Opérationnelle des Secouristes Animaliers</p>
        </footer>
    </div>
{% endblock %}

</body>

</html>
