<div class="d-flex justify-content-center width-100 mt-2">
    <div id="counter" class="d-flex justify-content-center align-self-center width-15 " >
        <div >{{ countInterventions }}</div>
    </div>
</div><br/>
<div class="panel scrollbar">
    <div class="d-flex justify-content-center">
        <a href="{{ path('cr_envoi')}}"><img class = "btn-round-red" type="image" src="{{ asset("icones/plus-circle.svg") }}" alt="Ajout intervenant" /></a>
    </div></br>

    <div class="row justify-content-around">
        {% for intervention in interventions %}
            <div class="white-box">
                <div class="box-title">Intervention <span class="num-intervention">n°{{ intervention.numIntervention }}</span> <br/> &nbspRédigé par {{ intervention.nom|upper }} {{ intervention.prenom|capitalize }} le {{ intervention.date ? intervention.date|date('d/m/Y') : '' }} </div>
                <ul class="scrollbar">
                    <li><span>Motif:</span> {{ intervention.motif }}</li>
                    <li><span>Ville:</span> {{ intervention.ville }}</li>
                    <li><span>Adresse:</span> {{ intervention.lieu }}</li>
                    <li class="text-justify">
                        <div class="text-center font-weight-bold">Compte-rendu<br/></div>
                        <div class="report">
                            {% if intervention.recapitulatif or intervention.recapitulatif|length > 0 %}
                                <p>{{ intervention.recapitulatif|slice(0,400) }}...</p>
                            {% else %}
                                <p>Pas de compte-rendu</p>
                            {% endif %}
                        </div>
                    </li>
                </ul>
                <div class="link-group">
                    <a class="btn btn-info" role="button" href="{{ path('interventions_show', {'idInterventions': encryption.encryptionValue(intervention.idIntervention|trim)}) }}"> <img src="{{ asset("icones/zoom-in.svg") }}" width="50px" height="20px" alt="Voir"></a>
                    <a class="btn btn-info" role="button" href="{{ path('cr_maj', {'id': encryption.encryptionValue(intervention.idIntervention|trim)}) }}"><img src="{{ asset("icones/pencil-square.svg") }}" width="50px" height="20px" alt="Modifier"></a>


                </div>
            </div>
        {% else %}
            <p class="white-box text-center font-weight-bold">Vous n'avez écrit aucun compte rendu</p>
        {% endfor %}
    </div>
</div>