<form method="post" action="{{ path('interventions_delete', {'id': encryption.encryptionValue(intervention.id|trim)}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette intervention?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ intervention.id) }}">
    <button class="btn btn-info link-btn"> <img src="{{ asset("icones/trash.svg") }}" width="50px" height="20px"  alt=""/></button>
</form>
