{% extends 'base.html.twig' %}

{% block title %}Interventions{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/admin.css')}}" /> 
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="panel-filter margin-top">
        <div class="filter">
            <label>Filtre</label><br/>
            <select id="filter" name="filter">
                <option value="none" selected>Aucun</option>
                {% for inter in yearInter %}
                    <option value="{{ inter.year }}">{{ inter.year }}</option>
                {% endfor %}
            </select>
            <br/>
        </div>
    </div>

        <div id="content">
            {% include "interventions/_content.html.twig"%}
        </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}

    <script src="{{ asset('js/filter.js') }}"></script>
{% endblock %}
