{% extends 'base.html.twig' %}

{% block title %}Interventions{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/photos.css') }}"/>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="panel-transparent">
        <div id="card">
            <div class="d-flex justify-content-around">
                <div>
                    <a class="btn btn-info link-btn " role="button" href="{{ path('interventions_index') }}"> <img
                                src="{{ asset("icones/arrow-90deg-left.svg") }}" width="50px" height="20px" alt="back"/></a>
                </div>

                {% if is_granted('ROLE_ADMIN') %}
                    <div>
                        <a class="btn btn-info link-btn" role="button"
                           href="{{ path('interventions_pdf', {'idInterventions': encryption.encryptionValue(intervention.id|trim)}) }}"
                           target="_blank">PDF</a>
                    </div>
                {% endif %}
            </div>
            <br/>

            <div class="box-title w-100"><h2>Intervention <span
                            class="num-intervention">n°{{ intervention.numIntervention }}</span></h2> <br/>
                <h3>Rédigé par {{ intervention.auteur.nom|upper }} {{ intervention.auteur.prenom|capitalize }}
                    le {{ intervention.date ? intervention.date|date('d/m/Y') : '' }}</h3></div>
            <ul class="scrollbar">
                <li><span>Motif:</span> {{ intervention.motif ? intervention.motif : "Non renseigné" }}</li>
                <li><span>Ville:</span> {{ intervention.ville ? intervention.ville : "Non renseigné" }}</li>
                <li><span>Adresse:</span> {{ intervention.adresse ? intervention.adresse : "Non renseigné" }}</li>
                <li><span>Intervenant(s):</span>
                    {% for userInter in intervention.usersInter %}
                        <div class="link border border-dark mb-1 p-1">
                            <span>&nbsp- {{ userInter.user.nom }} {{ userInter.user.prenom }}</span>
                            &nbsp&nbsp
                            {{ userInter.repos ? "- Repos" : " " }}
                            {{ userInter.astreinte ? "- Astreinte" : " " }}
                            {{ userInter.garde ? "- Garde" : " " }}

                        </div>
                    {% else %}
                        <p class="text-center font-weight-bold">Il n'y a aucun intervenant</p>
                    {% endfor %}
                </li>
                <li><span>Technique(s):</span>
                    {% for techniqueInter in intervention.techniquesInter %}
                        <div class="link border border-dark mb-1 p-1">
                            <span>&nbsp- {{ techniqueInter.technique.nom }}</span>
                        </div>
                    {% else %}
                        <p class=" text-center font-weight-bold">Aucune technique n'a été utilisé</p>
                    {% endfor %}
                </li>
                <li><span>Matériel(s):</span>
                    {% for materielInter in intervention.materielsInter %}
                        <div class="link border border-dark mb-1 p-1">
                            <span>&nbsp{{ materielInter.materiel.stock}} &nbsp {{ materielInter.materiel.nom }}</span>
                        </div>
                    {% else %}
                        <p class="text-center font-weight-bold">Aucun matériel n'a été utilisé</p>
                    {% endfor %}
                </li>
                <br/>
                <div class="text-center"><h4 class="font-weight-bold p-0">Compte-rendu</h4><br/></div>
                <li>
                    <div class="report">
                        {% if intervention.recapitulatif or intervention.recapitulatif|length > 0 %}
                            <p>{{ intervention.recapitulatif }}</p>
                        {% else %}
                            <p>Pas de compte-rendu</p>
                        {% endif %}
                    </div>
                </li>
                <li>
                    {% if intervention.photos|length > 0 %}<h3 class="text-center font-weight-bold mt-2">Photos</h3>{% endif %}
                    <div class="d-flex flex-wrap justify-content-around">
                        {% for photo in intervention.photos %}
                            <div class="d-flex flex-column mr-3 scrollbar">
                                <img id="img" class="cadre img-shadow img img-thumbnail mt-5" src="{{ asset(photo.chemin) }}" width="150px" height="150px"
                                     alt="{{ photo.nom }}" />

                            </div>
                        {% endfor %}
                    </div>
                </li>
            </ul>

            <div class="link-group">
                <div>
                    <a role="button" class="btn btn-info"
                       href="{{ path('cr_maj', {'id': encryption.encryptionValue(intervention.id|trim)}) }}"> <img
                                src="{{ asset("icones/pencil-square.svg") }}" width="50px" height="20px" alt=""/></a>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div>
                        {{ include('interventions/_delete_form.html.twig') }}
                    </div>
                {% endif %}


            </div>
        </div>


    </div>
    <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span id="close" class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <!-- Modal Content (The Image) -->
        <div class="modal-content scrollbar">
            <img id="imgModal">
        </div>

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/photo.js') }}"></script>
{% endblock %}
