{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/header.css') }}"/>
{% endblock %}

{% block title %}Menu{% endblock %}
{% block body %}


    <header class="nav-bar">

        <div id="app-name">
            <img src="{{ asset('img/nom_application.png') }}" alt="MITOS@N">
        </div>
        <div id="logo">
            <img src="{{ asset('img/logo.png') }}" width="231px" height="134px" alt=""/>
            <img src="{{ asset('img/logo_responsive.png') }}" width="231px" height="134px" alt=""/>
        </div>

        <nav>

            <ul>
                <li class="m-dynamic">
                    <img src="{{ asset('icones/menu.png') }}" width="30px" height="28px"/>
                </li>

                <ul>
                    <li>
                        <a class="small-li" href="{{ path('home') }}">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li>
                            <a href="{{ path('interventions_index') }}">Interventions</a>
                        </li>
                        {% if is_granted('ROLE_CHEF') %}
                            <li>
                                <a href="{{ path('stats') }}">Statistiques</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="small-li">
                                <a href="{{ path('materiel_index') }}">Matériels</a>
                            </li>

                        {% endif %}
                        <li class="small-li">
                            <a href="{{ path('news_index') }}">Actualités</a>
                        </li>

                        <li class="small-li">
                            <a href="{{ path("album") }}">Album</a>
                        </li>

                        <li class="small-li">
                            <a href="{{ path("fmpa_index") }}">FMPA</a>
                        </li>

                        <li class="small-li">
                            <a href="{{ path("convention_index") }}">Conventions</a>
                        </li>

                        <li class="small-li">
                            <a href="{{ path("carte_index") }}">Carte</a>
                        </li>

                        <li class="small-li ">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('user_index') }}">Comptes</a>
                            {% else %}
                                <a href="{{ path('user_show', {'id': encryption.encryptionValue(app.user.id|trim)}) }}">Compte</a>
                            {% endif %}
                        </li>

                        <li class="exit">
                            <a id="logout"><img src="{{ asset('icones/exit.png') }}" width="30px" height="28px"/></a>
                        </li>

                    {% else %}
                        <li>
                            <a href="{{ path('app_login') }}">Connexion</a>
                        </li>
                    {% endif %}
                </ul>

            </ul>

        </nav>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_index') }}"><img id="icone_rouage" src="{{ asset('icones/rouage.png') }}"
                                                     alt="Admin"></a>
        {% endif %}
    </header>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/logout.js') }}"></script>
{% endblock %}

{% block footer %}{% endblock %}