<div class="d-flex justify-content-center pb-5">
	<div class="panel-tab">
		<div class="title-tab">
			<h3>Interventions par personne (T1)</h3>
		</div>
		<table>
			<thead>
				<tr>
					<th>
						Personnes
					</th>
					<th>
						Nb<br/>
						interventions
					</th>
					<th>
						%
					</th>
					<th>
						Nb<br/>
						repos
					</th>
					<th>
						Nb<br/>
						astreintes
					</th>
					<th>
						Nb<br/>
						gardes
					</th>
				</tr>
			</thead>
			<tbody class="max-height scrollbar">

				{% for status in statusStats %}
					<tr>
						<td data-label='Personnes'>
							{{ status.user.nom }}
							{{ status.user.prenom }}
						</td>
						<td data-label='Nb interventions'>
							{{ status.nbinterventions }}
						</td>
						<td data-label='Pourcentages'>
							{{ status.pourcentage|round(1) }}
							%
						</td>
						<td data-label='Nb repos'>
							{{ status.rest }}
						</td>
						<td data-label='Nb astreintes'>
							{{ status.penalty }}
						</td>
						<td data-label='Nb gardes'>
							{{ status.guard }}
						</td>
					</tr>
				{% else %}
					<td>
						<p class="text-center font-weight-bold pt-2">Pas de résultats</p>
					</td>
				{% endfor %}


			</tbody>
		</table>
	</div>
</div>
<div class="d-flex justify-content-center pb-5">
	<div class="panel-tab">
		<div class="title-tab">
			<h3>Nombre d'interventions par commune (T2)</h3>
		</div>
		<table>
			<thead>
				<tr>
					<th>
						Communes
					</th>
					<th>
						Nb interventions
					</th>
					<th>
						%
					</th>
				</tr>
			</thead>
			<tbody class="max-height scrollbar">

				{% for commune in interventionsbyCommune %}
					<tr>
						<td data-label='Commune'>
							{{ commune.ville }}
						</td>
						<td data-label='Nb interventions'>
							{{ commune.nbinterventions }}
						</td>
						<td data-label='Pourcentage'>
							{{ commune.pourcentage|round(1) }}
							%
						</td>

					</tr>
				{% else %}
					<td>
						<p class="text-center font-weight-bold pt-2">
							Pas de résultats</p>
					</td>
				{% endfor %}


			</tbody>
		</table>
	</div>
</div>
<div class="d-flex justify-content-center pb-5">
	<div class="panel-tab">
		<div class="title-tab">
			<h3>Nombre de techniques utilisées en intervention (T3)</h3>
		</div>
		<table>
			<thead>
				<tr>
					<th>
						Techniques
					</th>
					<th>
						Nb interventions
					</th>
					<th>
						%
					</th>
				</tr>
			</thead>
			<tbody class="max-height scrollbar">

				{% for techniqueUsed in techniquesUsedPerIntervention %}
					<tr>
						<td data-label='Commune'>
							{{ techniqueUsed.technique }}
						</td>
						<td data-label='Nb interventions'>
							{{ techniqueUsed.nbinterventions }}
						</td>
						<td data-label='Pourcentage'>
							{{ techniqueUsed.pourcentage|round(1) }}
							%
						</td>

					</tr>
				{% else %}
					<td>
						<p class="text-center font-weight-bold pt-2">Pas de résultats</p>
					</td>
				{% endfor %}


			</tbody>
		</table>
	</div>
</div>
<div class="d-flex justify-content-center pb-5">
	<div class="panel-tab">
		<div class="title-tab">
			<h3>Nombre de materiels utilisées en intervention (T4)</h3>
		</div>
		<table>
			<thead>
				<tr>
					<th>
						Materiels
					</th>
					<th>
						Nb interventions
					</th>
					<th>
						%
					</th>
				</tr>
			</thead>
			<tbody class="max-height scrollbar">

				{% for materielUsed in materielsUsedPerIntervention %}
					<tr>
						<td data-label='Commune'>
							{{ materielUsed.materiel }}
						</td>
						<td data-label='Nb interventions'>
							{{ materielUsed.nbinterventions }}
						</td>
						<td data-label='Pourcentage'>
							{{ materielUsed.pourcentage|round(1) }}
							%
						</td>

					</tr>
				{% else %}
					<td>
						<p class="text-center font-weight-bold pt-2">Pas de résultats</p>
					</td>
				{% endfor %}

			</tbody>
		</table>
	</div>
</div>
