{% extends 'base.html.twig' %}

{% block title %}
	Statistiques
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/admin.css') }}"/>

{% endblock %}

{% block body %}

	{{ parent() }}
	<div class="container-stats">
		<div class="left-box">
			<div class="panel-filter margin-top">
				<div class="filter">
					<h4>Selectionnez un filtre</h4>
					<select id="selectFilter" name="filter">
						<option selected value="none" selected>Aucun</option>
						<option value="year">Année</option>
						<option value="range">Intervalle</option>
					</select>
				</br>

				<div id="container-year" class="mt-2" style="display: none">
					<label class="mt-4">
						Selectionnez une année</label>
					<select id="filter" name="filter">
						<option value="none" selected>Toutes les années</option>
						{% for inter in yearInter %}
							<option value="{{ inter.year }}">{{ inter.year }}</option>
						{% endfor %}
					</select>
				</div>

				<div id="container-range" class="mt-2" style="display: none">
					<label class="mt-4">
						Selectionnez un intervalle</label>

					<select id="minYear" class="mt-2" name="filter">
						<option value="none" selected>Aucun</option>
						{% for inter in yearInter %}
							<option value="{{ inter.year }}">{{ inter.year }}</option>
						{% endfor %}
					</select>
					<br/>
					<select id="maxYear" class="mt-2" name="filter">
						<option value="none" selected>Aucun</option>
						{% for inter in yearInter %}
							<option value="{{ inter.year }}">{{ inter.year }}</option>
						{% endfor %}
					</select>
					<br/>

					<a id="btn-filter-range" class="btn btn-info mt-2" type="button">Actualiser</a>

				</div>
			</div>
		</div>
		<br/>

		<div class="panel-pdf">
			<div class="box-pdf">
				<h4>Création de pdf</h4>
				<div class="d-flex flex-column link-group">
					<div class="d-flex justify-content-center">
						<div class="d-flex flex-column">
							<a id="interStats" class="btn btn-info" role="button" href="{{path('pdfStats',{'type': "inter"})}}" target="_blank">PDF T1</a>
							<a id="communeStats" class="btn btn-info" role="button" href="{{path('pdfStats',{'type': "commune"})}}" target="_blank">PDF T2</a>
						</div>
						<div class="d-flex flex-column">
							<a id="techniqueStats" class="btn btn-info" role="button" href="{{path('pdfStats',{'type': "technique"})}}" target="_blank">PDF T3</a>
							<a id="materielStats" class="btn btn-info" role="button" href="{{path('pdfStats',{'type': "materiel"})}}" target="_blank">PDF T4</a>
						</div>
					</div>
					<div class="d-flex justify-content-center">
						<a id="allStats" class="btn btn-info" role="button" href="{{path('pdfStats',{'type': "all"})}}" target="_blank">PDF Global</a>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="right-box">
		<div id="content">
			{% include "stats/_content.html.twig"%}
		</div>
	</div>
</div>{% endblock %}{% block javascripts %}
{{parent()}}

<script src="{{ asset('js/filter.js') }}"></script>{% endblock %}
