{% extends 'base.html.twig' %}

{% block title %}Identification{% endblock %}

    
{% block body %}
{{ parent() }}

<div class="panel-transparent p-3">
    <div class="img-identification mb-3">
        <a href="https://www.i-cad.fr/" target="_blank"><img title="Site de l'ICAD" alt="img_icad" class="img" src="img/logo-icad.png"></a>
    </div>

    <div class="img-identification mb-3">
        <a href="https://www.i-fap.fr/espace-utilisateur" target="_blank"><img title="Site de l'IFAP" alt="img_ifap" class="img" src="img/logo-ifap.png"></a>
    </div>

    <div class="img-identification">
        <a href="https://sso.haras-nationaux.fr/cas/login?service=https%3A%2F%2Fwww.haras-nationaux.fr%2Findex.php%3Fid%3D5809%26retour_url%3D%252Fespace-personnalise%252F" target="_blank"><img title="Site de l'IFCE" alt="img_ifce" class="img" src="img/ifce.png"></a>
    </div>
</div>


{% endblock %}
