{{ form_start(form) }}

<div class="d-flex flex-wrap justify-content-center flex-column ">
    <div class="d-flex flex-wrap justify-content-center">
        <div class="m-2 box-input">
            {{ form_errors(form.nom) }}<br/>
            {{ form_label(form.nom, 'NOM') }}<br/>
            {{ form_widget(form.nom) }}
        </div>

        <div class="m-2 box-input">
            {{ form_errors(form.prenom) }}<br/>
            {{ form_label(form.prenom, 'Prénom') }}<br/>
            {{ form_widget(form.prenom) }}
        </div>

        <div class="m-2 box-input">
            {{ form_errors(form.email) }}<br/>
            {{ form_label(form.email, 'Email') }}<br/>
            {{ form_widget(form.email) }}
        </div>

    </div>
    <div class="d-flex flex-wrap justify-content-center">
        <div class="m-2 box-input">
            {{ form_errors(form.telephone) }}<br/>
            {{ form_label(form.telephone, 'Téléphone') }}<br/>
            {{ form_widget(form.telephone) }}
        </div>

        <div class="m-2 box-input">
            {{ form_errors(form.adresseDomicile) }}<br/>
            {{ form_label(form.adresseDomicile, 'Adresse domicile') }}<br/>
            {{ form_widget(form.adresseDomicile) }}
        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-center">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="m-2 box-input">
                {{ form_errors(form.fonction) }}<br/>
                {{ form_label(form.fonction, 'Fonction') }}<br/>
                {{ form_widget(form.fonction) }}
            </div>

            <div class="m-2 box-input">
                {{ form_errors(form.grade) }}<br/>
                {{ form_label(form.grade, 'Grade') }}<br/>
                {{ form_widget(form.grade) }}
            </div>

            <div class="m-2 box-input">
                {{ form_errors(form.roles) }}<br/>
                {{ form_label(form.roles, 'Niveau d\'accès') }}<br/>
                {{ form_widget(form.roles) }}
            </div>

        {% endif %}
    </div>
    {% if is_granted('ROLE_ADMIN') %}
    <div class="d-flex flex-wrap justify-content-center">
        <div class="m-2 box-input">
            <label>Statut</label><br/>
            <select id="status" class="form-control" name="status">
                <option value="none" selected>Aucun</option>

                    <option value="pro" {% if user.cspPro and not user.cspVol and user.cspPro.statut != "Vétérinaire" %}selected{% endif %}>PRO</option>
                    <option value="provol" {% if user.cspPro and user.cspVol %}selected{% endif %}>PRO/VOL</option>
                    <option value="vol" {% if user.cspVol and not user.cspPro %}selected{% endif %}>VOL</option>
                    <option value="veterinaire" {% if user.cspPro and not user.cspVol and user.cspPro.statut == "Vétérinaire" %}selected{% endif %}>Vétérinaire</option>

            </select>

        </div>

        <div id="csp_pro" class="m-2 box-input">
            <label>Centre PRO</label><br/>
            <select class="form-control" name="csp_pro">
                <option value="none" selected>Aucun</option>
                {% for cs in csList %}
                    {% if cs.statut == "PRO" %}
                    
                        {% if user.cspPro and cs.statut == "PRO"%}
                        <p>if</p>
                            <option value="{{ cs.id }}" {% if user.cspPro.id == cs.id %}selected{% endif %}>{{ cs.type }} - {{ cs.nom }}</option>
                        {% else %}
                        <p>else</p>
                            <option value="{{ cs.id }}">{{ cs.type }} - {{ cs.nom }}</option>
                        {% endif %}
                    {% endif %}

                {% endfor %}
            </select>
        </div>

        <div id="csp_vol" class="m-2 box-input">
            <label>Centre VOL</label><br/>
            <select class="form-control" name="csp_vol">
                <option value="none" selected>Aucun</option>
                {% for cs in csList %}
                    {% if cs.statut == "VOL" %}
                        {% if user.cspVol and cs.statut == "VOL" %}
                            <option value="{{ cs.id }}" {% if user.cspVol.id == cs.id %}selected{% endif %}>{{ cs.type }} - {{ cs.nom }}</option>
                        {% else %}
                            <option value="{{ cs.id }}">{{ cs.type }} - {{ cs.nom }}</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div id="csp_affi" class="m-2 box-input">
            <label>Centre d'affiliation</label><br/>
            <select class="form-control" name="csp_affi">
                <option value="none" selected>Aucun</option>
                {% for cs in csList %}
                    {% if cs.statut == "Affiliation" %}
                    
                        {% if user.cspAffiliation and cs.statut == "Affiliation" %}
                            <option value="{{ cs.id }}" {% if user.cspAffiliation.id == cs.id %}selected{% endif %}>{{ cs.type }} - {{ cs.nom }}</option>
                        {% else %}
                            <option value="{{ cs.id }}">{{ cs.type }} - {{ cs.nom }}</option>
                        {% endif %}
                    {% endif %}

                {% endfor %}
            </select>
        </div>

        <div id="csp_veto" class="m-2 box-input">
            <label>Centre Vétérinaire</label><br/>
            <select class="form-control" name="csp_veto">
                <option value="none" selected>Aucun</option>
                {% for cs in csList %}
                    {% if cs.statut == "Vétérinaire" %}
                        {% if user.cspPro and cs.statut == "Vétérinaire"%}
                            <option value="{{ cs.id }}" {% if user.cspPro.id == cs.id %}selected{% endif %}>{{ cs.type }} - {{ cs.nom }}</option>
                        {% else %}
                            <option value="{{ cs.id }}">{{ cs.type }} - {{ cs.nom }}</option>
                        {% endif %}
                    {% endif %}

                {% endfor %}
            </select>
        </div>
    </div>
    {% endif %}
</div>
<div class="d-flex flex-wrap justify-content-center font-weight-bold">
    <div class="m-2 box-input">
        {{ form_errors(form.password.pass) }}<br/>
        {{ form_label(form.password.pass, 'Mot de passe') }}<br/>
        {{ form_widget(form.password.pass) }}
    </div>

    <div class="m-2 box-input">
        {{ form_errors(form.password.confirm) }}<br/>
        {{ form_label(form.password.confirm, 'Répétez le mot de passe') }}<br/>
        {{ form_widget(form.password.confirm) }}
    </div>
</div>

<div class="link-group mt-3">
<button class="btn btn-info btn-link"><img src="{{ asset("icones/check-circle.svg") }}" width="50px" height="20px" alt="Valider"/></button>
</div>
{{ form_end(form) }}
