{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/admin.css')}}" />
{% endblock %}

{% block title %}Modification utilisateur{% endblock %}

{% block body %}
    {{ parent() }}
    
    <div class="panel-transparent">
    <div id="card">
        <div class="d-flex flex-wrap justify-content-around">
            <a class="btn btn-info link-btn" href="{{ path('user_index') }}"><img src="{{ asset("icones/arrow-90deg-left.svg") }}" width="50px" height="20px"  alt="Retour"/></a>
            {% if is_granted('ROLE_ADMIN') %}
                {{ include('user/_delete_form.html.twig') }}
            {% endif %}
        </div></br>
        
        <div class="box-title"><h1>Modification de l'utilisateur</h1></div>

        {{ include('user/_form.html.twig') }}

    </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}

    <script src="{{ asset('js/user.js') }}"></script>
{% endblock %}