{% extends 'base.html.twig' %}

{% block title %}Comptes{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/admin.css')}}" />

{% endblock %}
{% block body %}
    {{ parent() }}

    <div class="panel scrollbar">
        <div class="d-flex justify-content-center">
            <a href="{{ path('user_new') }}"><img class = "btn-round-red" type="image" src="{{ asset("icones/plus-circle.svg") }}" alt="Ajout intervenant" /></a>
        </div></br>

        <div class="row justify-content-around">
            {% for user in users %}
                <div class="white-box">
                    <div class="box-title">{{ user.grade ? user.grade.nom : ""}}<br/>{{ user.nom|upper }} {{ user.prenom|capitalize }}</div>
                    <ul class="scrollbar">
                        <li class="link"><span>Email:</span> <a href="mailto:{{ user.email }}">&nbsp{{ user.email }}</a></li>
                        {% if user.telephone %}
                            <li><span>Téléphone:</span> {{ user.telephone }}</li>
                        {% endif %}

                        {% if user.fonction %}
                            <li><span>Fonction:</span> {{ user.fonction.nom }}</li>
                        {% endif %}

                        {% if user.cspPro and user.cspAffiliation and not user.cspVol %}
                            <li><span>Statut:</span> {{ user.cspPro.statut }}</li>
                            <li><span>Centre Pro:</span> {{ user.cspPro.type ? user.cspPro.type.nom ~ ' - ' ~ user.cspPro.nom : user.cspPro.nom}}</li>
                            <li><span>Centre d'affiliation:</span> {{ user.cspAffiliation.type ? user.cspAffiliation.type.nom ~ ' - ' ~ user.cspAffiliation.nom : user.cspAffiliation.nom}}</li>
                        {% elseif user.cspPro and not user.cspAffiliation and not user.cspVol %}
                            <li><span>Statut:</span> {{ user.cspPro.statut }}</li>
                            <li><span>Centre Pro:</span> {{ user.cspPro.type ? user.cspPro.type.nom ~ ' - ' ~ user.cspPro.nom : user.cspPro.nom}}</li>
                        {% elseif not user.cspPro and user.cspVol %}
                            <li><span>Statut:</span> {{ user.cspVol.statut }}</li>
                            <li><span>Centre Vol:</span> {{ user.cspVol.type ? user.cspVol.type.nom ~ ' - ' ~ user.cspVol.nom : user.cspVol.nom}}</li>
                        {% elseif user.cspPro and user.cspVol and not user.cspAffiliation %}
                            <li><span>Statut:</span> {{ user.cspPro.statut }}/{{ user.cspVol.statut }}</li>
                            <li><span>Centre Pro:</span> {{ user.cspPro.type ? user.cspPro.type.nom ~ ' - ' ~ user.cspPro.nom : user.cspPro.nom}}</li>
                            <li><span>Centre Vol:</span> {{ user.cspVol.type ? user.cspVol.type.nom ~ ' - ' ~ user.cspVol.nom : user.cspVol.nom}}</li>
                        {% endif %}
                    </ul>
                    <div class="link-group">
                        <a class="btn btn-info"  role="button" href="{{ path('user_show', {'id': encryption.encryptionValue(user.id|trim)}) }}"><img src="{{ asset("icones/zoom-in.svg") }}" width="50px" height="20px"  alt="Voir"/></a>
                        <a class="btn btn-info"  role="button" href="{{ path('user_edit', {'id': encryption.encryptionValue(user.id|trim)}) }}"><img src="{{ asset("icones/pencil-square.svg") }}" width="50px" height="20px"  alt="Modifier"/></a>
                        <a class="btn btn-info"  role="button" href="{{ path('posseder_index',{'idUser': encryption.encryptionValue(user.id|trim) }) }}">E.P.I</a><br/>
                    </div>
                </div>
            {% else %}
                <p class="white-box text-center font-weight-bold">Pas de résultats</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}
