{% extends 'base.html.twig' %}

{% block title %}
	{% if is_granted('ROLE_ADMIN') %}
		Compte:
		{{user.nom}}
		{{user.prenom}}
	{% else %}
		Mon compte
	{% endif %}
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('css/admin.css')}}"/>

{% endblock %}

{% block body %}
	{{ parent() }}

	<div class="panel-transparent">
		<div id="card">

			<div class="d-flex flex-wrap justify-content-around ">
				<div>
					<a class="btn btn-info link-btn mr-2" href="{{ path('user_index') }}"><img src="{{ asset("icones/arrow-90deg-left.svg") }}" width="50px" height="20px" alt=""/></a>
				</div>
				{% if is_granted('ROLE_ADMIN') %}
					<div class="d-flex flex-wrap justify-content-center">
						<a class="btn btn-info link-btn mr-2" href="{{ path('posseder_index',{'idUser': encryption.encryptionValue(user.id|trim)}) }}">E.P.I</a>
						<a class="btn btn-info link-btn mr-2" href="{{ path('pdfInfoUser',{'id': encryption.encryptionValue(user.id|trim)}) }}" target="_blank">PDF</a><br>
					</div>
				{% endif %}
			</div><br/>

			<div>
				<h3 id="card-title" class="text-center p-2">{{ user.grade ? user.grade.nom|capitalize : ""}}<br/>
					{{user.prenom|upper}}
					{{user.nom|upper}}</h3>

				<div class="mt-3">
					<h5 class="text-center font-weight-bold p-1 underline">
						{% if is_granted('ROLE_ADMIN') %}
							Informations personnelles
						{% else %}
							Vos informations personnelles
						{% endif %}
					</h5><br/>

					<div class="d-flex flex-wrap">
						<div class="d-flex align-items-start flex-column mr-5">
							<div class="link">
								<span class="font-weight-bold">Email:</span>
								<a href="mailto:{{ user.email }}">&nbsp{{ user.email }}</a>
							</div>
							<div>
								<span class="font-weight-bold">Niveau d'accès:</span>
								{% if user.roles|json_encode == "[\"ROLE_ADMIN\"]"%}
									Niveau 3
								{% elseif user.roles|json_encode == "[\"ROLE_CHEF\"]"%}
									Niveau 2
								{% else %}
									Niveau 1
								{% endif %}
							</div>
							{% if user.fonction %}
								<div>
									<span class="font-weight-bold">Fonction:</span>
									{{ user.fonction }}</div>
							{% endif %}

							{% if user.telephone %}
								<div>
									<span class="font-weight-bold">Téléphone:</span>
									{{ user.telephone }}</div>
							{% endif %}
						</div>
						<div class="d-flex flex-column ">
							{% if user.adresseDomicile %}
								<div>
									<span class="font-weight-bold">Adresse:</span>
									{{ user.adresseDomicile }}</div>
							{% endif %}

							{% if user.cspPro and not user.cspAffiliation and not user.cspVol %}
								<div>
									<span class="font-weight-bold">Statut:</span>
									{{ user.cspPro.statut }}
								</div>
								<div>
									<span class="font-weight-bold">Centre Pro:</span>
									{{ user.cspPro.type }}
									-
									{{ user.cspPro.nom }}
								</div>
							{% elseif user.cspPro and user.cspAffiliation and not user.cspVol %}
								<div>
									<span class="font-weight-bold">Statut:</span>
									{{ user.cspPro.statut }}
								</div>
								<div>
									<span class="font-weight-bold">Centre Pro:</span>
									{{ user.cspPro.type }}
									-
									{{ user.cspPro.nom }}
								</div>
								<div>
									<span class="font-weight-bold">Centre d'affiliation:</span>
									{{ user.cspAffiliation.type }}
									-
									{{ user.cspAffiliation.nom }}
								</div>
							{% elseif not user.cspPro and user.cspVol %}
								<div>
									<span class="font-weight-bold">Statut:</span>
									{{ user.cspVol.statut }}
								</div>
								<div>
									<span class="font-weight-bold">Centre Vol:</span>
									{{ user.cspVol.type }}
									-
									{{ user.cspVol.nom }}
								</div>
							{% elseif user.cspPro and user.cspVol %}
								<div>
									<span class="font-weight-bold">Statut:</span>
									{{ user.cspPro.statut }}/{{ user.cspVol.statut }}
								</div>
								<div>
									<span class="font-weight-bold">Centre Pro:</span>
									{{ user.cspPro.type }}
									-
									{{ user.cspPro.nom }}
								</div>
								<div>
									<span class="font-weight-bold">Centre Vol:</span>
									{{ user.cspVol.type }}
									-
									{{ user.cspVol.nom }}
								</div>
							{% endif %}
							{% if is_granted('ROLE_ADMIN') %}
								<div class="right-link font-weight-bold">
									<a href="{{ path('evaluation_new', {'id': encryption.encryptionValue(user.id|trim)}) }}">Evaluer ce personnel</a>
								</div>
							{% endif %}
						</div>
					</div><br/>

					{% if user.evaluations %}
						<h5 class="text-center font-weight-bold p-1 underline right-link font-weight-bold">
							<span class="font-weight-bold">Évaluations</span>&nbsp&nbsp&nbsp&nbsp<a href = "{{ path('evaluation_convert', {'id': encryption.encryptionValue(user.id|trim)}) }}">Convertion excel</a>
						</h5>
						<div>
							<p>
								{% for evaluation in user.evaluations %}

									<a class="btn btn-info link-btn" role="button" href="{{ path('evaluation_show', {'id': encryption.encryptionValue(evaluation.id|trim)}) }}">
										<span class="font-weight-bold">Évaluation de l'année
											{{ evaluation.date|date('Y')}}</span>
									</a>

								{% else %}
									<p class="text-center font-weight-bold pt-2">Aucun personnel n'a fait cette formation</p>
								{% endfor %}
							</p>
						</div>
					{% endif %}

					{% if equipements %}
						<h5 class="text-center font-weight-bold p-1 underline">
							<span class="font-weight-bold">E.P.I</span>
						</h5>
						<div>
							{% for equipement in equipements %}

								<div>-
									{{ equipement.idEquipementOperationnel.nom.nom }}
									<span class="font-weight-bold">{{ equipement.idEquipementOperationnel.numero ? 'N°' ~ equipement.idEquipementOperationnel.numero : ""}}</span>
									<span class="font-weight-bold">{{ equipement.taille ? '| Taille ' ~ equipement.taille : ""}}</span>
								</div>

							{% endfor %}
						</div>
					{% endif %}

				</div>

				<div class="d-flex flex-wrap justify-content-around link-group">
					<div class="d-flex w-25 justify-content-center">
						<a class="btn btn-info" href="{{ path('user_edit', {'id': encryption.encryptionValue(user.id|trim)}) }}"><img src="{{ asset("icones/pencil-square.svg") }}" width="50px" height="20px" alt=""/></a>
					</div>
					{% if is_granted('ROLE_ADMIN') %}
						<div class="d-flex w-25 justify-content-center">
							{{ include('user/_delete_form.html.twig') }}
						</div>
					{% endif %}
				</div>

			</div>

		</div>
	</div>
{% endblock %}
