{% extends 'base.html.twig' %}

{% block title %}
	Carte
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.0/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin=""/>
{% endblock %}
{% block body %}
	{{ parent() }}

    <div id="map">
    
    </div>

	{% for user in users %}
		<div class="user" hidden>{{user.nom}}_{{user.lat}}_{{user.lon}}</div>
	{% endfor %}
	{% for cs in centresSecours %}
		<div class="cs" hidden>{{cs.nom}}_{{cs.type}}_{{cs.lat}}_{{cs.lon}}</div>
	{% endfor %}

{% endblock %}
{% block javascripts %}
	<script src="https://unpkg.com/leaflet@1.9.0/dist/leaflet.js" integrity="sha256-oH+m3EWgtpoAmoBO/v+u8H/AdwB/54Gc/SgqjUKbb4Y=" crossorigin=""></script>
    
    <script src="{{ asset('js/map.js') }}"></script>
{% endblock %}
