<div class="item panel-staff">
    <div class="box-input ">        
        <div class="d-flex justify-content-center mt-2 mb-2">
            <div class="d-flex flex-column" >
                <div>
                    {{ form_widget(form.materiel) }}
                </div>
                <div class="d-flex flex-column mt-4">
                    {{ form_label(form.stock) }}
                    {{ form_widget(form.stock) }}
                </div>
            </div>
        </div>
    </div>
    <div class="form-group d-flex justify-content-center">
        <button type="button" class="btn btn-danger btn-remove">X</button>
    </div>
</div>
