<div class="item panel-staff">
    <div class="box-input ">
        {{ form_errors(form.user) }}
        {{ form_widget(form.user)}}          
        <div class="d-flex justify-content-center mt-2 mb-2">
            <div class="d-flex flex-column" >
                {{ form_label(form.garde)}}
                {{ form_widget(form.garde, { 'attr': {'class':'checkbox'} })}}
            </div>
            <div class="d-flex flex-column ml-4 mr-4" >
                {{ form_label(form.astreinte)}}
                {{ form_widget(form.astreinte, { 'attr': {'class':'checkbox'} })}}
            </div>
            <div class="d-flex flex-column" >
                {{ form_label(form.repos)}}
                {{ form_widget(form.repos, { 'attr': {'class':'checkbox'} })}}
            </div>
        </div>
    </div>
    <div class="form-group d-flex justify-content-center">
        <button type="button" class="btn btn-danger btn-remove">X</button>
    </div>
</div>
