{% extends 'base.html.twig' %}

{% block title %}Compte-rendu{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}"/>
    {{ parent() }}


{% endblock %}

{% block body %}

    {{ parent() }}
<div class="panel-transparent">
<div id="card">
    <div>
        <div>

            <a class="btn btn-info link-btn " role="button" href="{{ path('interventions_index') }}"> <img
                        src="{{ asset("icones/arrow-90deg-left.svg") }}" width="50px" height="20px" alt="back"/></a>

            {{ form_start(form) }}
            {{ form_widget(form._token)}}
        
            <div class="d-flex justify-content-center">
                <div class="box-input w-50 ">
                    {{ form_errors(form, { 'attr': {'class':'alert alert-danger'} })}}
                </div>
            </div>

            <div class="d-flex flex-wrap justify-content-around ">
                <div class="d-flex flex-wrap justify-content-center font-weight-bold">

               
                    <div class="d-flex align-items-start flex-column m-1">
                        <div class="box-input">
                            <div class="d-flex justify-content-center">{{ form_label(form.numIntervention) }}</div>
                            {{ form_widget(form.numIntervention) }}
                        </div>

                        <div class="box-input">
                            <div class="d-flex justify-content-center">{{ form_label(form.date) }}</div>
                            {{ form_widget(form.date) }}
                        </div>
                    </div>
                    <div class="d-flex align-items-start flex-column m-1">
                        <div class="box-input">      
                            <div class="d-flex justify-content-center">{{ form_label(form.adresse) }}</div>
                            {{ form_widget(form.adresse) }}
                        </div>

                        <div class="box-input"> 
                            <div class="d-flex justify-content-center">{{ form_label(form.ville) }}</div>
                            {{ form_widget(form.ville) }}
                        </div>
                    </div>

                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="box-input">
                    <div class="d-flex justify-content-center">{{ form_label(form.motif) }}</div>
                    {{ form_widget(form.motif) }}
                </div>
            </div>

            <div id="div_entiere" class="d-flex flex-wrap justify-content-center">                   
                <div id="users" class="d-flex flex-wrap justify-content-center" data-prototype="{{include("compte_rendu/_user.html.twig", {form:form.usersInter.vars.prototype})|e("html_attr")}}" data-index="{{ form.usersInter|length > 0 ? form.usersInter|last.vars.name + 1 : 0}}">                 
                    {% for user in form.usersInter %}   
                         <div> 
                        {{include("compte_rendu/_user.html.twig", {form:user}) }}
                        </div>
                    {% endfor %}
                </div>            
            </div>
                    
            </br>
                
            <div class="box-input d-flex justify-content-center flex-column">
                <label for="add-user">Ajouter un intervenant</label>
                <div class="d-flex justify-content-center mt-1"><img name="add-user" class = "btn-round-red btn-new " 
                    type="image" src="{{ asset("icones/plus-circle.svg") }}" 
                    alt="Ajout intervenant" 
                    id="add-user" 
                    data-collection="#users"/></div>
            </div></br>

            <div id="div_entiere" class="d-flex flex-wrap justify-content-center">                   
                <div id="techniques" class="d-flex flex-wrap justify-content-center" data-prototype="{{include("compte_rendu/_technique.html.twig", {form:form.techniquesInter.vars.prototype})|e("html_attr")}}" data-index="{{ form.techniquesInter|length > 0 ? form.techniquesInter|last.vars.name + 1 : 0}}">                 
                    {% for technique in form.techniquesInter %}   
                         <div> 
                        {{include("compte_rendu/_technique.html.twig", {form:technique}) }}
                        </div>
                    {% endfor %}
                </div>            
            </div>
           
            <div class="box-input d-flex justify-content-center flex-column">
                <label for="add-technique">Ajouter une technique</label>
                <div class="d-flex justify-content-center mt-1"><img name="add-technique" class = "btn-round-red btn-new " 
                    type="image" src="{{ asset("icones/plus-circle.svg") }}" 
                    alt="Ajout technique" 
                    id="add-technique" 
                    data-collection="#techniques"/></div>
            </div></br>

            <div id="div_entiere" class="d-flex flex-wrap justify-content-center">                   
                <div id="materiels" class="d-flex flex-wrap justify-content-center" data-prototype="{{include("compte_rendu/_materiel.html.twig", {form:form.materielsInter.vars.prototype})|e("html_attr")}}" data-index="{{ form.materielsInter|length > 0 ? form.materielsInter|last.vars.name + 1 : 0}}">                 
                    {% for materiel in form.materielsInter %}   
                         <div> 
                        {{include("compte_rendu/_materiel.html.twig", {form:materiel}) }}
                        </div>
                    {% endfor %}
                </div>            
            </div>
           
            <div class="box-input d-flex justify-content-center flex-column">
                <label for="add-materiel">Ajouter un matériel</label>
                <div class="d-flex justify-content-center mt-1"><img name="add-materiel" class = "btn-round-red btn-new " 
                    type="image" src="{{ asset("icones/plus-circle.svg") }}" 
                    alt="Ajout materiel" 
                    id="add-materiel" 
                    data-collection="#materiels"/></div>
            </div></br>

            <div class="d-flex justify-content-center">
                <h3 class="box-title mb-3"> {{ form_label(form.recapitulatif) }} <img src="{{ asset("img/penblack.png") }}" alt="" width="32"
                                                             height="32" title="Pen"></h3>
            </div>
            <div class="d-flex justify-content-center mb-3 ">
                {{ form_widget(form.recapitulatif, { 'attr': {'class':'textarea-report text-wrap'} }) }}              
            </div>

            <div class="link-group">
                <input class="link-btn" type="submit" value="Matériels" name="materiel" class="btn-red p-2 ">
                <input class="link-btn" type="submit" value="Sauvegarder" class="btn-red ml-auto p-2">
            </div>
            
            {{ form_end(form, {render_rest: false}) }}
      
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('js/compte-rendu.js') }}"></script>
{% endblock %}









